.modal-delete-product {
  .ant-modal-content {
    background: #ffffff;
    border-radius: 24px;
    text-align: center;
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 132%;
      color: #34303e;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 147%;
      color: #4a4754;
    }
    .ant-btn {
      padding: 16px 76px;
      font-weight: bold;
      font-size: 14px;
      line-height: 112%;
      border-radius: 12px;
      height: initial;
    }
  }
}
