.captive {
  .ant-layout,
  .ant-layout * {
    border-color: #e8e8ea;
  }

  .auth-form {
    h2 {
      font-size: 34px;
      font-weight: 800;
      margin-bottom: 8px;
    }
    p {
      font-size: 15px;
      font-weight: 700;
      color: @color-grey-6;
    }
    .text-bold {
      font-weight: bold;
      font-size: 15px;
      color: @color-grey-6;
      &.mt4 {
        margin-top: 4px;
      }
    }
    .link-bold {
      color: @color-grey-15;
    }
    .text-normal {
      font-weight: normal;
      font-size: 15px;
      color: @color-grey-4;
      &.mtb48 {
        margin-top: 48px;
      }
    }
    .ant-form {
      position: relative;
      label {
        font-size: 12px;
        font-weight: 700;
        color: #34303e;
      }
      .ant-form-item-explain {
        padding-top: 10px;
        font-size: 12px;
      }

      .ant-checkbox-wrapper {
        font-size: 15px;
      }
      .ant-form-item {
        margin-bottom: 20px;
        &.cb-term-condition {
          margin-bottom: 14px;
          .ant-checkbox-wrapper {
            font-size: 13px;
          }
        }
      }
    }
    .ant-input:placeholder-shown {
      font-size: 13px;
      font-weight: 400;
    }
    .ant-input-lg {
      font-size: 14px;
      font-weight: 700;
    }
    .anticon {
      opacity: 0.65;
      &.mr10 {
        margin-right: 10px;
      }
      &.absolute {
        position: absolute;
        top: 0;
        bottom: auto;
        z-index: 1;
        &.left {
          left: 0;
          right: auto;
        }
        &.right {
          right: 0;
          left: auto;
        }
      }
    }

    .third-party {
      display: flex;
      align-items: center;
      border-top: 2px #e9e9e9 dotted;
      margin-top: 30px;
      padding-top: 20px;
      p {
        flex: 1;
        padding: 0;
        margin: 0;
      }

      .ant-btn {
        border-radius: 12px;
        border: none;
        box-shadow: 0 2px 3px rgba(#000, 0.1);
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .anticon.icon-google,
        .anticon.icon-facebook {
          opacity: 1;
        }
        .anticon.icon-google {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
        }
      }
    }
  }
  .welcome-slider {
    text-align: center;
    width: 500px;

    .welcome-slider-item {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
      }

      h3 {
        color: @color-grey-14;
        font-size: 34px;
        font-weight: 800;
        line-height: 1.2;
        padding: 0 30px;
      }

      p {
        color: @color-grey-14;
        font-size: 15px;
        padding: 0 30px;
      }

      ul {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        li {
          color: @color-grey-14;
          font-weight: bold;
          font-size: 15px;
          opacity: 0.85;
          padding: 9px 0;
          display: flex;
          justify-content: start;
          align-items: flex-start;
          text-align: left;

          span {
            margin-right: 22px;
          }
        }
      }
    }
    .slick-dots-bottom {
      bottom: -20px;
    }
  }
  .main-header {
    &_title {
      padding: 19px 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .menu-scroll {
    background: #ffffff;
    border: 1px solid #e8e8ea;
    border-radius: 18px;
    padding: 20px 24px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 300px;
    > li {
      font-weight: bold;
      font-size: 14px;
      line-height: 112%;
      letter-spacing: 0.02em;
      padding: 6px 0;
      > a {
        color: @color-grey-4;
        &:hover {
          color: @color-primary;
          span {
            background: #dceeff;
            border-radius: 12px;
            color: @color-primary;
            svg > path {
              stroke: @color-primary;
            }
          }
        }
        &.active {
          color: #0085ff;
          span {
            background: #dceeff;
            border-radius: 12px;
            color: @color-primary;
            svg > path {
              stroke: @color-primary;
            }
          }
        }
        span {
          margin-right: 12px;
          width: 32px;
          height: 32px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
