.content-campaign-tab {
  .wrapper {
    padding: 0 35px;
    margin: 26px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    .block-current,
    .block-completed,
    .block-create {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;
      align-content: flex-start;
      width: 100%;
      .title {
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        color: #4a4754;
      }
      .block-line {
        height: 84px;
        background: #ffffff;
        box-shadow: 0px 2px 12px rgb(0 0 0 / 8%), 0px 2px 4px rgb(0 0 0 / 8%);
        border-radius: 12px;
        width: 80%;
        padding: 20px;
        display: flex;
        margin: 10px 0;
        .box-one {
          cursor: pointer;
        }
        .box-one,
        .box-two,
        .box-three,
        .box-action {
          display: flex;
          align-items: center;

          .ant-avatar-circle {
            width: 40px;
            height: 40px;
          }
          &-right {
            p {
              margin: 0;
              margin-left: 18px;
              &:first-child {
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.03em;
                color: #1d1929;
              }
              &:last-child {
                font-weight: normal;
                font-size: 13px;
                line-height: 135%;
                color: #77757f;
              }
            }
          }
          .grey {
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.03em;
            color: #8e8c94;
            .anticon {
              margin-right: 8px;
            }
          }
          .green {
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.03em;
            color: #1bd2a4;
            display: flex;
            align-content: center;
            .anticon {
              margin-right: 8px;
            }
          }
          .edit {
            background: #f9f9f9;
            border: 1px solid #e8e8ea;
            border-radius: 6px;
            padding: 4px;
            width: 62px;
            height: 28px;
            font-weight: bold;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.04em;
            color: #615e69;
            &:focus,
            &:hover {
              cursor: pointer;
            }
          }
        }
        .box-one {
          width: 45%;
        }
        .box-two {
          width: 15%;
          .anticon {
            margin-right: 8px;
          }
        }
        .box-three {
          width: 25%;
        }
        .box-action {
          width: 15%;
          justify-content: flex-end;
        }
      }
    }
    .block-create {
      width: 360px;
      height: 124px;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08),
        0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      margin-bottom: 26px;
      justify-content: center;
      align-items: center;
      h6 {
        font-weight: normal;
        font-size: 13px;
        line-height: 135%;
        color: #4a4754;
      }
      .create {
        width: 320px;
        height: 48px;
        padding: 8px;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 12px;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        color: #ffffff;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    }
    .paging-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      .spacing-item {
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #a5a3a9;
      }
      .ant-pagination {
        justify-content: flex-end;
      }
    }
  }
}
