.create-campaign-container {
  .wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ant-steps-dot .ant-steps-item-tail,
    .ant-steps-dot.ant-steps-small .ant-steps-item-tail {
      top: 2px;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .ant-steps-dot .ant-steps-item-tail::after,
    .ant-steps-dot.ant-steps-small .ant-steps-item-tail::after {
      width: 100%;
      height: 2px;
      margin-left: 0px;
    }
    .ant-steps-dot .ant-steps-item-content,
    .ant-steps-dot.ant-steps-small .ant-steps-item-content {
      width: 202px;
    }
    .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
      display: none;
    }
    .steps-content,
    .steps-action {
      display: flex;
      justify-content: center;
      min-width: 370px;
      .step {
        text-align: center;
        width: 100%;
        h4 {
          font-weight: 800;
          font-size: 24px;
          line-height: 132%;
          letter-spacing: 0.01em;
          color: #1d1929;
        }
        h6 {
          font-weight: normal;
          font-size: 15px;
          line-height: 147%;
          color: #77757f;
          margin-top: 12px;
        }
        .start-form {
          margin: 66px 0;
          display: flex;
          justify-content: left;
          align-items: center;
          width: 100%;
          .ant-form.ant-form-vertical {
            width: 100%;
            .ant-picker-input > input:placeholder-shown,
            .ant-input:placeholder-shown,
            .ant-picker-range,
            .ant-input,
            .ant-picker,
            .ant-input-number-input {
              width: 100%;
              height: 48px;
              border-radius: 12px;
            }
            .ant-input-group-compact {
              display: flex;
              width: 100%;
              border: 1px solid #ccc;
              border-radius: 12px;
              position: relative;
              margin-bottom: 28px;
              .ant-select.ant-select-single.ant-select-show-arrow {
                height: 48px;
                border: 0;
                padding: 10px 0;
                border-radius: 0px;
              }
              .ant-select-selector {
                border: 0;
                border-right: 1px solid #e8e8ea;
              }
              .ant-input-number {
                width: 300px;
                border: 0;
                border-radius: 10px;
                margin-left: 5px;
                &:focus {
                  outline: 0;
                }
              }
            }
          }
          .ant-form-vertical .ant-form-item-label > label,
          .ant-col-24.ant-form-item-label > label,
          .ant-col-xl-24.ant-form-item-label > label {
            font-weight: bold;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.04em;
            color: #4a4754;
          }
          .col-right {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .list-radio {
            .ant-radio-group,
            .ant-form-item-control-input-content {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              display: flex;
              .ant-radio-wrapper {
                display: flex;
                border: 1px solid #e8e8ea;
                height: 56px;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 16px;
                .ant-radio {
                  order: 2;
                  margin-top: -5px;
                }
                span {
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 112%;
                  letter-spacing: 0.02em;
                  color: #1d1929;
                }
              }
            }
            &.list-radio-col2 {
              .ant-radio-wrapper.radio-col2 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
              }
            }
            .list-radio-group-2 {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              margin-left: -8px;
              .radio-col2 {
                display: block;
                flex: 1 0 44%;
                margin-right: 0px;
                margin-left: 8px;
              }
            }
          }
          .form-position {
            .ant-checkbox-group, .ant-radio-group {
              width: 100%;
              .ant-radio-wrapper {
                width: 100%;
              }
            }
            .ant-checkbox-group,
            .ant-form-item-control-input-content {
              position: relative;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              .ant-checkbox-wrapper.cb-abs {
                position: absolute;
                right: 0;
                top: 0;
                margin-top: -30px;
                display: flex;
                .ant-checkbox.ant-checkbox-checked {
                  .ant-checkbox-inner {
                    background-color: #35ebbd;
                    border-color: #35ebbd;
                  }
                }
                span {
                  font-weight: bold;
                  font-size: 12px;
                  line-height: 130%;
                  letter-spacing: 0.04em;
                  color: #77757f;
                }
              }
              .ant-checkbox-wrapper.cb-item,
              .ant-checkbox-wrapper.cb-item-4 {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #e8e8ea;
                padding: 8px 16px;
                border-radius: 6px;
                height: 56px;
                .ant-checkbox {
                  order: 2;
                  display: flex;
                  justify-content: flex-end;
                }
                .ant-checkbox + span {
                  p {
                    margin: 0;
                    text-align: left;
                    &.black {
                      color: #1d1929;
                      font-weight: bold;
                      font-size: 14px;
                      line-height: 112%;
                      letter-spacing: 0.02em;
                    }
                    &.grey {
                      font-weight: 600;
                      font-size: 12px;
                      line-height: 130%;
                      letter-spacing: 0.03em;
                      color: #a5a3a9;
                    }
                  }
                }
              }
              .ant-checkbox-wrapper.cb-item-4 {
                width: 25%;
                height: 56px;
              }
            }
          }
        }
      }
    }

    .steps-content-full {
      display: flex;
      justify-content: center;
      min-width: 100%;
    }

    .steps-action {
      .ant-form.ant-form-vertical,
      .ant-form-item-control-input-content {
        justify-content: center;
        .cta {
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
          border-radius: 12px;
          height: 48px;
          width: 160px;
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
      .prev {
        height: 48px;
        width: 160px;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        border-radius: 12px;
      }
    }

    .steps-action-full,
    .steps-action-full2,
    .steps-action-full3 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      min-width: 100%;
      .ant-row.ant-form-item {
        order: 2;
      }
      .skip {
        order: 1;
        border: 0;
        font-weight: bold;
        font-size: 14px;
        height: 48px;
        padding: 10px 15px;
        width: initial;
        line-height: 112%;
        color: #0085ff;
        letter-spacing: 0.02em;
      }
      .prev {
        height: 48px;
        width: 160px;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        border-radius: 12px;
      }
      .create {
        order: 2;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 12px;
        height: 48px;
        width: 160px;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
    }
  }
}

.campaign-status  {
  margin-left: 18px;
  display: flex;
  border-radius: 14px;
  size: 14px;
  padding: 4px 12px 4px 12px;
  justify-content: center;
  align-items: center;
  &.not-started {
    color: #8E8C94;
    border-color: #8E8C94;
    border: 1px solid #BBBABF;
  }

  &.in-progress {
    background-color: #1EE9B6;
    color: white;
  }

  &.complete {
    background-color: #A5A3A9;
    color: white;
    border: 1px solid #A5A3A9;
  }
}