.collapse-main {
  &.ant-collapse-icon-position-right {
    border-radius: 12px;
    border: 0;
    .ant-collapse-header {
      padding: 20px;
      .default {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        .first {
          margin-right: 12px;
        }
        .center {
          p {
            margin: 0;
            &.send {
              font-size: 15px;
              line-height: 147%;
              color: #34303e;
            }
            &.date {
              font-weight: 600;
              font-size: 12px;
              line-height: 130%;
              letter-spacing: 0.03em;
              color: #a5a3a9;
            }
          }
        }
      }
    }
    > .ant-collapse-content-active {
      border: 0;
      border-radius: 12px;
    }
  }
  &.ant-collapse > .ant-collapse-item-active:last-child,
  &.ant-collapse > .ant-collapse-item-active:last-child > .ant-collapse-header,
  &.ant-collapse > .ant-collapse-item,
  &.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background: #fff;
    border: 0;
    .collapse {
      position: absolute;
      right: 0;
      margin-right: 20px;
      top: 0;
      margin-top: 30px;
      order: 2;
    }
  }
  .ant-collapse-item-active:last-child > .ant-collapse-content,
  .site-collapse-custom-panel:last-child > .ant-collapse-content,
  .ant-collapse-item-active > .ant-collapse-content,
  .site-collapse-custom-panel > .ant-collapse-content {
    border: 0;
    > .ant-collapse-content-box {
      padding-top: 0;
      .main-content {
        .box-status {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .status {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-weight: normal;
            font-size: 13px;
            line-height: 116%;
            border-radius: 10px;
            height: 40px;
            margin: 0 0 18px;
            &.orange {
              color: #ff7d1a;
              background: #fff1e6;
              border: 1px solid #ffb780;
            }
            &.grey {
              color: #615e69;
              background: #f9f9f9;
              border: 1px solid #f9f9f9;
            }
            &.green {
              color: #1bd2a4;
              background: #e9fdf8;
              border: 1px solid #4bedc5;
            }
            &.red {
              background: #feeaea;
              border: 1px solid #fa9494;
              color: #f53e3e;
            }
            &.blue {
              background: #e7f3ff;
              border: 1px solid #027dee;
              color: #027dee;
            }
            &.yellow {
              background: #fffcee;
              border: 1px solid #ffe887;
              color: #e6c84c;
            }
            .anticon {
              margin-right: 10px;
            }
          }
          .spend-hours {
            font-weight: 800;
            font-size: 34px;
            line-height: 117%;
          }
          .blue {
            color: #027dee;
          }
          .green {
            color: #1bd2a4;
          }
          .black {
            color: #1d1929;
          }
          .commission {
            font-weight: normal;
            font-size: 13px;
            line-height: 135%;
            color: #a5a3a9;
            margin: 10px 0 18px;
          }
        }
        h4 {
          display: flex;
          align-items: center;
          justify-content: start;
          font-weight: bold;
          font-size: 13px;
          line-height: 135%;
          color: #34303e;
          margin-bottom: 13px;
          .anticon {
            margin-right: 15px;
          }
        }
        .box-details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 14px;
          .left {
            font-weight: bold;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.04em;
            color: #a5a3a9;
          }
          .right {
            font-weight: bold;
            font-size: 13px;
            line-height: 135%;
            color: #4a4754;
            width: 50%;
            text-align: right;
          }
        }
        h5 {
          margin-top: 18px;
          margin-bottom: 12px;
        }
        .message {
          font-weight: bold;
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0.04em;
          color: #a5a3a9;
        }
        .more {
          font-weight: bold;
          font-size: 13px;
          line-height: 135%;
          color: #4a4754;
          .btnMore {
            border: 0;
            background: none;
            color: #027dee;
            font-weight: bold;
            font-size: 13px;
            line-height: 135%;
            cursor: pointer;
          }
        }
        .group-button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 0 0 50%;
          margin-top: 18px;
          .btn-received {
            .anticon {
              margin-right: 10px;
            }
            &.accept {
              color: #ffffff;
              background: linear-gradient(
                254.81deg,
                #1a5aff 8.13%,
                #1ee9b6 92.46%
              );
              width: 48%;
            }
            &.reject {
              color: #ffffff;
              background: #f76969;
              width: 48%;
            }
          }
        }
        .btn-received {
          border-radius: 10px;
          height: 36px;
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          letter-spacing: 0.02em;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0;
          .anticon {
            margin-right: 10px;
          }
          &.propose {
            color: #615e69;
            background: #f9f9f9;
            border: 1px solid #e8e8ea;
            width: 100%;
          }
          &.complete {
            color: #ffffff;
            background: linear-gradient(
              254.81deg,
              #1a5aff 8.13%,
              #1ee9b6 92.46%
            );
            width: 100%;
          }
        }
        .rating-group {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .rating-actions {
            margin-bottom: 10px;
          }
          .rating-result {
            color: #a5a3a9;
            font-weight: normal;
            font-size: 13px;
            line-height: 135%;
            strong {
              color: #34303e;
            }
          }
          .ant-rate-star-half .ant-rate-star-first,
          .ant-rate-star-full .ant-rate-star-second {
            span svg {
              fill: #ffde54;
            }
          }
        }
        .btn-submit {
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
          border-radius: 10px;
          height: 36px;
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          letter-spacing: 0.02em;
          color: #ffffff;
          width: 100%;
          border: 0;
        }
      }
    }
  }
}

.older-activities {
  margin-top: 40px;
  .title-older {
    margin-bottom: 18px;
  }
}

.older-activities-collapse {
  .ant-collapse-item.site-collapse-custom-panel {
    margin-bottom: 24px;
    overflow: visible;
    border: 0;
    > .ant-collapse-header {
      padding: 14px 20px;
      border: 1px solid #e8e8ea;
      border-radius: 12px;
    }
  }
  .ant-collapse-item-active.site-collapse-custom-panel {
    box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08),
      0px 6px 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    background: #ffffff;
    border: 0;
    > .ant-collapse-header {
      border: 0;
    }
  }
  &.ant-collapse {
    border: 0;
  }
}

hr.dash-divider {
  border: none;
  border-top: 2px dashed #e8e8ea;
  margin: 18px 0;
}

hr.linear-divider {
  border: none;
  border-top: 1px solid #e8e8ea;
  margin: 18px 0;
}

// proposal a deal
.ant-deal-content-box {
  padding-top: 0;
  .main-content {
    .box-status {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .status {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: normal;
        font-size: 13px;
        line-height: 116%;
        border-radius: 10px;
        height: 40px;
        margin: 0 0 18px;
        &.orange {
          color: #ff7d1a;
          background: #fff1e6;
          border: 1px solid #ffb780;
        }
        &.grey {
          color: #615e69;
          background: #f9f9f9;
          border: 1px solid #f9f9f9;
        }
        &.green {
          color: #1bd2a4;
          background: #e9fdf8;
          border: 1px solid #4bedc5;
        }
        &.red {
          background: #feeaea;
          border: 1px solid #fa9494;
          color: #f53e3e;
        }
        &.blue {
          background: #e7f3ff;
          border: 1px solid #027dee;
          color: #027dee;
        }
        &.yellow {
          background: #fffcee;
          border: 1px solid #ffe887;
          color: #e6c84c;
        }
        .anticon {
          margin-right: 10px;
        }
      }
      .spend-hours {
        font-weight: 800;
        font-size: 34px;
        line-height: 117%;
      }
      .blue {
        color: #027dee;
      }
      .green {
        color: #1bd2a4;
      }
      .black {
        color: #1d1929;
      }
      .commission {
        font-weight: normal;
        font-size: 13px;
        line-height: 135%;
        color: #a5a3a9;
        margin: 10px 0 18px;
      }
    }
    h4 {
      display: flex;
      align-items: center;
      justify-content: start;
      font-weight: bold;
      font-size: 13px;
      line-height: 135%;
      color: #34303e;
      margin-bottom: 13px;
      .anticon {
        margin-right: 15px;
      }
    }
    .box-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 14px;
      .left {
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #a5a3a9;
      }
      .right {
        font-weight: bold;
        font-size: 13px;
        line-height: 135%;
        color: #4a4754;
        width: 50%;
        text-align: right;
      }
    }
    h5 {
      margin-top: 18px;
      margin-bottom: 12px;
    }
    .message {
      font-weight: bold;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.04em;
      color: #a5a3a9;
    }
    .more {
      font-weight: bold;
      font-size: 13px;
      line-height: 135%;
      color: #4a4754;
      .btnMore {
        border: 0;
        background: none;
        color: #027dee;
        font-weight: bold;
        font-size: 13px;
        line-height: 135%;
        cursor: pointer;
      }
    }
    .group-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 50%;
      margin-top: 18px;
      .btn-received {
        .anticon {
          margin-right: 10px;
        }
        &.accept {
          color: #ffffff;
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
          width: 48%;
        }
        &.reject {
          color: #ffffff;
          background: #f76969;
          width: 48%;
        }
      }
    }
    .btn-received {
      border-radius: 10px;
      height: 36px;
      font-weight: bold;
      font-size: 14px;
      line-height: 112%;
      letter-spacing: 0.02em;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      .anticon {
        margin-right: 10px;
      }
      &.propose {
        color: #615e69;
        background: #f9f9f9;
        border: 1px solid #e8e8ea;
        width: 100%;
      }
      &.complete {
        color: #ffffff;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        width: 100%;
      }
    }
    .rating-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .rating-actions {
        margin-bottom: 10px;
      }
      .rating-result {
        color: #a5a3a9;
        font-weight: normal;
        font-size: 13px;
        line-height: 135%;
        strong {
          color: #34303e;
        }
      }
      .ant-rate-star-half .ant-rate-star-first,
      .ant-rate-star-full .ant-rate-star-second {
        span svg {
          fill: #ffde54;
        }
      }
    }
    .btn-submit {
      background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
      border-radius: 10px;
      height: 36px;
      font-weight: bold;
      font-size: 14px;
      line-height: 112%;
      letter-spacing: 0.02em;
      color: #ffffff;
      width: 100%;
      border: 0;
    }
  }
}
