.captive {
  .c-icon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  .cta.ant-btn {
    background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
    border-radius: 12px;
    border: 0;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.ant-btn-lg {
      height: 48px;
    }
    .anticon {
      &.opacity0 {
        opacity: 1;
      }
      > img {
        margin-left: 12px;
      }
    }
  }

  .ant-form {
    .ant-input {
      &.ant-input-lg {
        border-radius: 12px;
        height: 48px;
      }
      &:hover, &:focus{
        border-color: #38A0FF;
      }
    }
    .ant-checkbox-wrapper {
      &.checkbox-basic {
        height: 56px;
        border: 1px solid #E8E8EA;
        border-radius: 6px;
        width: 100%;
        align-items: center;
        background-color: #FFF;
        padding: 0 15px;
        .ant-checkbox{
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.ant-checkbox-wrapper-checked{
        border: 1px solid #0085FF;
      }
    }
    textarea.ant-input{
      border-radius: 12px;
      height: 82px;
      &:hover, &:focus{
        border-color: #38A0FF;
      }
    }
    .ant-select-selector, .ant-picker, .ant-picker.ant-picker-focused {
      border-radius: 12px;
      height: 48px;
      border-color: #e8e8ea;
      &:hover, &:focus{
        border-color: #38A0FF;
      }
    }
    .ant-select-selection-item{
      line-height: 48px;
      display: inline-flex;
      align-items: center;
      span:first-child{
        margin-right: 11px;
      }
    }
    .ant-input-affix-wrapper-lg {
      border-radius: 12px;
      padding: 0 20px;
      &.input-basic {
        height: 56px;
        .ant-input.ant-input-lg {
          height: 54px;
        }
      }
      .ant-input-prefix {
        margin-right: 20px;
      }
    }

    textarea.ant-input {
      height: 194px;
      padding: 8px 16px;
      border-radius: 12px;
    }
  }

  .ant-form-item-control-input {
    .ant-upload.ant-upload-select-picture-card {
      width: 194px;
      height: 194px;
      border: 1px dashed @color-grey-11;
      border-radius: 12px;
      .upload {
        display: flex;
        align-items: center;
        .text {
          color: #a5a3a9;
          font-weight: normal;
          font-size: 13px;
        }
      }
    }
  }

  .slick-slider {
    .slick-dots {
      li {
        height: 6px;
        width: 6px;
        border-radius: 6px;

        &.slick-active {
          width: 24px;
        }
      }
    }
  }
}
// Modified Ant Design
.title-subtitle {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 14px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 13px;

    .anticon {
      margin-left: 5px;
    }
  }

  &.with-icon {
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: 10px;
      svg {
        width: 24px;
      }
    }
  }
}
.ant-pagination {
  .ant-pagination-item-active {
    border: none;
  }
}

.ant-popover {
  .ant-popover-inner {
    border-radius: 12px;

    .ant-popover-inner-content {
      padding: 20px;
    }
  }
}

.ant-tag {
  background: #e8e8ea;
}

.policy-modal-wrap {
  padding: 60px 0;
  .ant-modal-content {
    border-radius: 18px;
  }
  .policy-modal {
    h2 {
      font-size: 34px;
      color: @color-primary;
    }
  }
}
