.collapse-brand-list {
    padding: 0;
    list-style-type: none;
}
.collapse-brand {
    margin-bottom: 30px;
    .ant-collapse {
        border-radius: 12px !important;
    }
    p {
        margin: 0;
    }
    &__header {
        position: relative;
        display: flex;
        align-items: center;
        &__logo {
            img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }
        }
        &__info {
            flex: 1;
            padding: 0 15px;
        }
        &__info {
            p {
                &:last-child {
                    display: none;
                }
            }
        }
        &__action {
            display: flex;
            button {
                margin: 0 !important;
                &:first-child {
                    margin: 0 10px 0 0 !important
                }
            }
            margin-right: 45px;
        }
    }
    .ant-collapse{
        border: none;
    }
    .ant-collapse-content {
        border: none;
    }
    .ant-collapse-header {
        background-color: #fff;
        background-color: #fff;
        > span {
            position: absolute;
            right: 10px;
            font-size: 14px !important;
            top: 50%;
            transform: translateY(-50%); 
        }
    }
    .ant-collapse-item {
        border: 1px solid #E8E8EA;
        border-radius: 12px !important;
        background-color: #fff;
        overflow: hidden;
        &.ant-collapse-item-active {
            border: none;
            box-shadow: rgb(0 0 0 / 8%) 0px 2px 12px, rgb(0 0 0 / 8%) 0px 2px 4px;
            border-radius: 12px 12px !important;
            .collapse-brand__header__logo {
                img {
                    width: 64px;
                    height: 64px;
                }
            }
            .collapse-brand__header__info{
                p {
                    &:first-child {
                        font-weight: 700;
                        font-size: 18px;
                    }
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
    .ant-collapse-content-box{
        border-top: 1px dashed #E8E8EA;
    }
    &__content {
        &__tags {
            margin: 0 !important;
        }
        table {
            border-collapse:separate; 
            border-spacing: 0 0.8em;
            tr {
                vertical-align: text-top;
                td {
                    &:first-child {
                        width: 140px;
                        color: #A5A3A9;
                    }
                    &:last-child {
                        font-weight: 700;
                    }
                    ul {
                        padding-left: 15px;
                        list-style: number;
                    }
                }
            }
        }
    }
}

.brand-form {
    padding: 0 30px;
    &__header{
        background: #f9f9f9;
        padding: 0px 30px;
        margin: 0 -30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 24px;
            font-weight: 800;
            margin: 0
        }
    }
    &__section {
        border-bottom: 1px dashed #E8E8EA;
        &__title {
            margin-top: 30px;
            font-size: 24px;
            font-weight: 800;
        }
        &__subtitle {
            font-size: 13px !important;
        }
        &__content {
            padding-left: 30px
        }
    }
    &__action {
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            &:last-child {
                margin-left: 30px;
                background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
                padding: 10px 15px;
                border-radius: 12px;
                color: white;
                display: inline-flex;
                align-items: center;
                span {
                    margin-right: 10px
                }
            }
        }
    }
}

.company-profile {
    .ant-input, #yearEstablisment {
        border: none !important;
    }
    .left {
        left: 0;
        right: auto;
    }
    .anticon.absolute {
        position: absolute;
        top: 0;
        bottom: auto;
        z-index: 1;
    }
    .form-control {
        height: 56px !important
    }
    .ant-picker-suffix {
        span {
            top: 50% !important;
            transform: translateY(-50%);
        }
    }
}