@color-primary: #0085ff;
@color-red: #cc001b;
@color-yellow: hsl(37, 91%, 55%);
@color-green: #7ed321;
@color-grey-bg: #f2f2f7;
@color-grey-4: #4a4754;
@color-grey-5:#615E69;
@color-grey-6: #77757f;
@color-grey-8: #a5a3a9;
@color-grey-11: #e8e8ea;
@color-grey-12: #f9f9f9;
@color-grey-13: #bbbabf;
@color-grey-14: #fff;
@color-grey-15: #1d1929;
@color-blue-3:#0085FF;
@color-blue-4:#1D92FF;
@color-blue-5:#38A0FF;
@color-blue-12:#DCEEFF;
@color-orange-6:#FF9A4D;

@color-grey-16: #615e69;
@color-grey-17: #8e8c94;
@color-grey-18: #34303e;
@color-grey-19: #55adff;

@box-radius: 10px;
@box-padding: 20px;

@grid-breakpoints: xs 0, sm 544px, md 768px, lg 992px, xl 1200px;

@primary-color: @color-primary;

@full-height: calc(100vh - 150px);

@width50: 50%;
@width80: 80%;
@width700: 700px;
