.message-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  & .message-page-content {
    height: 100%;
    overflow-y: auto;
    padding: 30px 5px 5px;
  }
  & .message-page-footer {
    margin-top: 60px;
    margin-bottom: 5vh;
  }
  & .message-avatar {
    border-radius: 50%;
    height: 32px;
    margin-left: 3px;
    margin-right: 2px;
    width: 32px;
    float: left;
  }
  & h4 {
    color: #1D1929;
    font-weight: bold;
    font-size: 15px;
    line-height: 147%;
  }
  & .message-profile {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  & .message-body {
    float: left;
    color: #34303e;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 147%;
    position: relative;
    width: auto;
    border-radius: 16px;
    background-color: #f9f9f9;
    color: #263238;
    padding: 12px 18px;
    max-width: 80%;
  }
  & .message {
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    width: 100%;
  }
  & .message.info .message-body {
    margin-left: 27px;
    margin-top: -5px;
  }
  & .message.my-message:before {
    border: 11px solid transparent;
    border-left: 13px solid #dbe3e8;
    border-right: none;
    content: "";
    float: left;
    left: auto;
    position: absolute;
    right: 3px;
    top: 10px;
    z-index: 1;
  }
  & .message.my-message .message-body {
    float: right;
    margin: 0;
    background-color: #DCEEFF;
  }
  & .message-info {
    margin-bottom: 10px;
  }
  & .time-ago {
    color: #A5A3A9;
  }
}
.drawer-main .ant-drawer-body .recommender-tabs .ant-tabs-content-holder {
  // padding: 0;
}
.ant-tabs-content {
  height: 100%;
}
.ant-tabs {
  height: 100%;
}
.send-message,
.send-message:hover {
  background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
  border-radius: 10px;
  height: 36px;
  width: 147px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 159px;
  height: 48px;
  font-size: 14px;
  line-height: 112%;
  font-weight: bold;
}
.drawer-main-tabs .ant-drawer-body {
  // padding: 0!important;
}
.ant-tabs-tabpane {
  padding: 0px 30px 0px 30px;
  overflow: auto;
}
.conversation-drawer-content {
  padding: 0px 30px 0px 30px;
  height: 100%;
  background: #fff;
}
.conversation-drawer-header {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.company-title {
  color: #1D1929;
  font-weight: 800;
  font-size: 24px;
  line-height: 132%;
}