.create-product{
    width: 100%;
    .create-product__header{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        overflow: hidden;
        background-color: @color-grey-12;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 35px 20px 36.5px;
        .anticon.anticon-close{
            color: #0085FF;
            font-size: 15px;
        }
        div:first-child{
            width: 100%;
        }
        input{
            margin-left: 20px;
            border: none;
            outline: none;
            height: 38px;
            width: 46%;
            border-bottom: 2px solid #0085FF ;
            background-color: @color-grey-12;
            color: #1D1929;
            font-size: 24px;
            font-weight: 800;
            &::placeholder{
                color: #A5A3A9;
                font-weight: normal;
            }
            // &:focus:required:invalid { 
            //     border-color: #F42829;
            // }
            // &:focus:required:invalid + .error-name{
            //     display: block;
            //     color: #F42829;
            //     font-weight: 600;
            //     font-size: 12px;
            //     margin-top: 8px;
            //     margin-left: 35px;
            // }
        }
        .input-error{
            border-color: #F42829;
        }
        .error-name{
            // display: none;
            color: #F42829;
                font-weight: 600;
                font-size: 12px;
                margin-top: 8px;
                margin-left: 35px;
        }
        .create-product__header__button{
            display: flex;
            button{
                display: flex;
                border-radius: 10px;
                height: 36px;
                font-size: 14px;
                font-weight: 700;
                align-items: center;
                text-align: center;
                padding: 11px 16px 11px 11px;
            }
            .ant-btn{
                background: none;
            }
            .anticon.anticon-save{
                font-size: 16px;
                margin: 0;
            }
            button:first-child{
                border: 1px solid #E8E8EA;
                color: #615E69;
                
            }
            button:last-child{
                background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
                color: #FFFFFF;
                margin-left: 12px;
                
            }
        }
        
    }
    .create-product__main{
        display: flex;
        /***** menu *****/
        .ant-anchor-wrapper{
            border: 1px solid #E8E8EA;
            border-radius: 18px;
            padding: 20px 24px;
            margin: 20px 32px 0 30px;
            // position: -webkit-sticky;
            // position: sticky;
            // top: 0;
        }
        // .ant-affix{
        //     .ant-anchor-wrapper{
        //         margin-top: 98px ;
        //     }
        // }
        
        .ant-anchor-ink, .ant-anchor-ink-ball.visible {
            display: none;
        }
        .ant-anchor-link {
            color: #4A4754;
            font-weight: bold;
            font-size: 14px;
            width: 300px;
            padding: 0;
            span:first-child{
                background: #F9F9F9;
                border-radius: 12px;
                padding: 8px;
                margin-bottom: 12px;
                margin-right: 12px;
                font-size: 16px;
            }
        }
        .ant-anchor-link.ant-anchor-link-active{
            span:first-child{
                background: #DCEEFF;
            }
            .anticon svg{
                path{
                    fill: #0085FF;
                }
            }
        }
        /***** main *****/
        .create-product__content{
            @width:700px;
            width: @width;
            max-width: @width;
            .create-product__content-icon{
                margin-right: 12px;
                font-size: 18px;
            }
            h2{
                color: #34303E;
                font-weight: bold;
                font-size: 18px;
                margin: 30px 0;
                margin-left: -30px;
            }
            #PhotosAndVideos{
                margin-bottom: 10px;
            }
            .ant-form{
                .input-brand{
                    width: 48%;
                    .ant-select-selection-placeholder {
                        display: flex;
                        align-items: center;
                    }
                    a {
                        display: block
                    }
                }
                .grid-input-2{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 26px;
                }
                .grid-input-3{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-column-gap: 26px;
                }
                .ant-form-item-label > label{
                    width: 100%;
                    .label-categories{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        div:last-child{
                            color: #0085FF;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            /***** setup form *****/
            .ant-form.ant-form-vertical{
                >div{
                    border-bottom: 1px solid #E8E8EA;
                    padding-bottom: 6px;
                    margin-left: 30px;
                }
                .ant-form-item-required{
                    &::before{
                        display: inline-block;
                        margin-right: 4px;
                        color: #ff4d4f;
                        font-size: 14px;
                        font-family: SimSun,sans-serif;
                        line-height: 1;
                        content: "*";
                    }
                }
                label[for="manufacturerCountry"]{
                    &::before{
                        display: inline-block;
                        margin-right: 4px;
                        color: #ff4d4f;
                        font-size: 14px;
                        font-family: SimSun,sans-serif;
                        line-height: 1;
                        content: "*";
                    }
                }
            }
            .ant-form-item-label > label{
                font-size: 12px;
                font-weight: bold;
            }
            .ant-input-lg, .ant-select-selection-item, textarea.ant-input{
                font-size: 14px;
                font-weight: 700;
            }
            .ant-input::placeholder, textarea.ant-input::placeholder {
                font-size: 13px;
                font-weight: 400;
            }
            textarea.ant-input{
               padding: 6.5px 11px ;
            }
            /***** component uploadphoto *****/
            .upload-warning{
                font-size: 13px;
                color: #77757F;
                margin-bottom: 30px;
            }
            .icon-add{
                background: #1D92FF;
                padding: 7px;
                border-radius: 100px;  
            }
            .title-add{
                font-weight: bold;
                font-size: 12px;
                color: #4A4754;
                margin-top: 10px;
            }
            .ant-upload-list{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                // flex-wrap: wrap;
                .ant-upload.ant-upload-select-picture-card{
                    order: 1;
                    border: 1px dashed #E8E8EA;
                    border-radius: 12px;
                    width: 152px;
                    height: 152px;
                    margin: 0;
                    background-color: #FFFFFF;
                    margin-right: 20px;
                    &:hover{
                        cursor: pointer;
                        border: 1px dashed #1D92FF;
                    }
                    .ant-upload-list-item-info{
                        border-radius: 12px;
                    }
                }
                .ant-upload-list-picture-card-container{
                    // border: 1px dashed #E8E8EA;
                    order: 2;
                    border-radius: 12px;
                    width: 152px;
                    height: 152px;
                    padding: 0;
                    margin: 0;
                    &:not(:first-child){
                        margin-left: 20px;
                    }
                    .ant-upload-list-item{
                        padding: 0;
                        border-radius: 12px;
                    }
                }
        }
            /***** input-group select->input *****/
            .select-input.ant-input-affix-wrapper.ant-input-affix-wrapper-lg{
                .suffix-input-left{
                    border-right: 1px solid #e8e8ea;
                    height: 30px;
                    padding-right: 16px;
                    font-weight: bold;
                    font-size: 14px;
                    color: #1D1929;
                    line-height: 30px;
                }
            }
            /***** input-group input->select *****/
            .input-select.ant-input-affix-wrapper.ant-input-affix-wrapper-lg{
                padding-right: 0;
                .ant-input-suffix {
                    width: 23%;
                    .ant-select-selector {
                        border-radius: 0;
                        border: none;
                        border-left: 1px solid #e8e8ea;
                        height: 30px;
                        padding-right: 20px;
                        box-shadow: none;
                    
                    }
                }
            }
            .ant-input-affix-wrapper.ant-input-affix-wrapper-lg{
                .suffix-input{
                    border-left: 1px solid #e8e8ea;
                    height: 30px;
                    padding-left: 16px;
                    font-weight: bold;
                    font-size: 14px;
                    color: #1D1929;
                    line-height: 30px;
                }
            }

            /***** height ant-picker *****/
            .ant-picker, .ant-picker.ant-picker-focused {
               width: 48%;
            }
            .ant-select-arrow {
                top:59%
            }
        }
    }
    .ant-form-item-explain.ant-form-item-explain-error{
        font-weight: 600;
        font-size: 12px;
        color: #F42829;
        margin-top: 8px;
    }
    .filter-item {
        .filter-body {
            height: 48px;
            border-radius: 12px;
            border: 1px solid #e8e8ea;
            padding: 12px 0 12px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .filter-icon {
                padding: 0 10px;
                    svg {
                        width: 10px;
                        height: 10px;
                    }
            }
        }
    }
    .ant-row.ant-form-item.ant-form-item-with-help.ant-form-item-has-error{
            .select-country {
                >button{
                    border-color: #ff4d4f;
                }
            }
        }
        
    .select-country {
        height: 100%;
        padding: 0;
        >button{
            border-radius: 12px;
            height: 48px;
            &:hover{
                border: 1px solid #1D92FF;
            }
            .ReactFlagsSelect-module_selectValue__152eS{
                font-size: 14px;
                font-weight: 700;
                
                
            }
        }
    }
    
    
    .filter-content {
        .ant-form-inline {
          margin-bottom: 20px;
          .ant-form-item {
            border-bottom: none !important;
            padding: 0 !important;
          }
          input {
            min-width: 50px;
            max-width: 70px;
            border-radius: 8px;
            text-align: center;
          }
          p {
            padding: 0 0 0 30px;
            margin: 0;
          }
        }
      
        .ant-form {
          .ant-form-item {
            border-bottom: 1px solid #eee;
            margin-bottom: 0;
            padding: 10px 20px;
          }
        }
      
        .sub-category {
          .ant-form-item {
            border-bottom: none !important;
          }
        }
      
        .filter-slider {
          width: 200px;
        }
    }
    .test{
        margin: 0;
        margin-right: 20px;
    }
}

.categoties{
    height: 48px;
    min-height: 48px;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    border-radius: 12px;
    padding: 8px 12px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 8px;
    &:hover{
        border: 1px solid #1D92FF;
    }
}
.categoties-item{
    background: #DCEEFF;
    border-radius: 99px;
    padding: 8px 8px 8px 12px;
    display: flex;
    align-items: center;
    // min-width: 160px;
    // max-width: 160px;
    >span:first-child{
        margin-right: 10px;
    }
    .anticon svg{
        path{
            fill: #0085FF;
        }
    }
    .item-name{
        margin-right: 10px;
        font-weight: bold;
        font-size: 14px;
        color: #0085FF;
    }
    .anticon.anticon-close-circle{
        color:#0085FF;
        background: #FFFFFF;
        font-size: 16px;
        border-radius: 50%;
        padding: 0;
        border: none;
        &:hover{
            cursor: pointer;
        }

    }
}
// .categoties-item:not(:first-child){
//     margin-left: 8px;
// } 
.no-content{
    padding: 10px;
    p {
        padding-bottom: 10px;
        border-bottom: 1px solid #E8E8EA;
    }
}

