.detail-product {
  width: 100%;
  .detail-product__header {
    height: 76px;
    background-color: @color-grey-12;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    h2 {
      padding: 19px 0px 25px 0px;
      font-weight: 800;
      font-size: 24px;
      color: #1d1929;
      margin-bottom: 0px;
    }
    > div:first-child {
      display: flex;
      align-items: center;
      > span {
        margin-right: 19.5px;
      }
    }
    > div:last-child {
      display: flex;
      align-items: flex-end;
      gap: 0 12px;
      button,
      a {
        border: 1px solid #e8e8ea;
        border-radius: 10px;
        // height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        color: #615e69;
      }
      > button:first-child {
        padding: 10px 17px;
      }
      a {
        padding: 10px 11px;
      }
    }
  }
  .ant-tabs-nav {
    background-color: @color-grey-12;
    .ant-tabs-tab {
      font-weight: bold;
      font-size: 12px;
      color: #8e8c94;
      padding: 0 13px 16px 13px;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 24px;
    }
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0px;
    padding-left: 35px;
  }
  .product-info {
    padding: 20px 30px 0 32px;
    display: flex;
    justify-content: space-between;
    .product-detail {
      @width: 700px;
      width: @width;
      max-width: @width;
      margin-top: 23px;
      h2 {
        font-weight: bold;
        font-size: 18px;
        color: #34303e;
        margin-bottom: 30px;
        > span {
          margin-right: 12px;
        }
      }
      table {
        margin-left: 32px;
        tr:not(:last-child) td {
          padding-bottom: 16px;
        }
        tr {
          > td:first-child {
            font-weight: bold;
            font-size: 12px;
            color: #4a4754;
            padding-right: 20px;
            vertical-align: text-top;
            width: 160px;
            max-width: 160px;
            // width: 100%;
          }
          > td:last-child {
            font-weight: bold;
            font-size: 14px;
            color: #1d1929;
            vertical-align: text-top;
            white-space: pre-line;
          }
        }
      }
      .product-detail__general-information {
        border-bottom: 1px solid #e8e8ea;
        padding-bottom: 30px;
      }
      .product-detail__media {
        margin-top: 30px;
        border-bottom: 1px solid #e8e8ea;
        padding-bottom: 30px;
        .media {
          margin-left: 32px;
          display: flex;
          > img:not(:first-child) {
            margin-left: 20px;
          }
          img {
            width: 152px;
            height: 152px;
            border: 1px solid #f9f9f9;
            border-radius: 12px;
          }
        }
      }
      .product-detail__product-price {
        margin-top: 30px;
        border-bottom: 1px solid #e8e8ea;
        padding-bottom: 30px;
      }
      .product-detail__variant-attributes {
        margin-top: 30px;
        border-bottom: 1px solid #e8e8ea;
        padding-bottom: 30px;
      }
      .product-detail__variant-attributes {
        margin-top: 30px;
      }
    }
    .block-link-recommended {
      background: #ffffff;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08),
        0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      padding: 20px;
      text-align: center;
      color: #4a4754;
      font-weight: normal;
      font-size: 13px;
      line-height: 135%;
      height: 190px;
      .link-recommended-seller {
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 12px;
        color: #fff;
        height: 48px;
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        margin-top: 20px;
        span {
          margin-right: 15px;
        }
      }
    }
  }
  .drawer-submit-proposal__result {
    width: 360px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08),
      0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    border: 0;
  }
  .drawer-submit-proposal__result__title {
    padding: 0;
    p {
      margin: 0;
      &:first-child {
        line-height: 150%;
        letter-spacing: 0.03em;
      }
      &:last-child {
        line-height: 135%;
      }
    }
  }
  .drawer-submit-proposal__result__duration {
    padding: 0;
    p {
      margin: 18px 0;
      letter-spacing: 0.02em;
      font-weight: bold;
      &.grey {
        color: #8e8c94;
        font-weight: bold;
        letter-spacing: 0.02em;
      }
    }
  }
  .progress-green {
    .ant-progress-inner {
      background-image: url("./media/progress-green.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: cover;
      background-color: #62f0cc;
      height: 6px;
      width: 100%;
      border-color: #62f0cc;
    }
  }
  .avatar-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #e8e8ea;
    .bids {
      font-weight: bold;
      font-size: 18px;
      line-height: 135%;
      letter-spacing: 0.01em;
      color: #4a4754;
      span {
        font-weight: normal;
        font-size: 13px;
        line-height: 135%;
        color: #77757f;
      }
    }
  }
  .drawer-submit-proposal__result__message {
    border-bottom: 1px solid #e8e8ea;
  }
  .link-recommended-seller {
    background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
    border-radius: 12px;
    color: #fff;
    height: 48px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 112%;
    margin-top: 20px;
    span {
      margin-right: 15px;
    }
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 8px;
}
