.ant-drawer.ant-drawer-open {
  .ant-drawer-mask {
    background: rgba(0, 0, 0, 0.45);
  }
  .ant-drawer-close {
    padding: 8px;
    box-shadow: 0px 4px 56px rgb(0 0 0 / 8%), 0px 12px 16px rgb(0 0 0 / 8%);
    border-radius: 14px;
    left: 0;
    margin-top: 25px;
    margin-left: -46px;
    color: #77757f;
    background: #fff;
    display: block !important;
    right: auto;
  }
}
.drawer-main-tabs {
  .ant-drawer-body {
    padding: 30px !important;
  }
}

.drawer-main {
  .ant-drawer-close {
    display: none;
  }
  .ant-drawer-content {
    overflow: visible;
  }
  .ant-drawer-header {
    background: #f9f9f9;
    padding: 30px 38px 20px 30px;
    border: 0;
  }
  .ant-drawer-title {
    font-size: 24px;
    font-weight: 800;
  }
  .ant-drawer-body {
    // padding: 0;
    .recommender-tabs {
      .ant-tabs-nav {
        margin-bottom: 30px;
        .ant-tabs-nav-wrap {
          background: #f9f9f9;
          padding: 0 30px 0 30px;
          .ant-tabs-tab {
            padding: 10px 12px 16px 12px;
            .item-tab {
              font-weight: bold;
              font-size: 12px;
              line-height: 130%;
              letter-spacing: 0.04em;
              color: #8e8c94;
              .num {
                font-weight: bold;
                font-size: 12px;
                line-height: 8px;
                letter-spacing: 0.04em;
                color: #fff;
                background: #ff7d1a;
                border-radius: 6px;
                margin-left: 12px;
                padding: 2px 4px;
              }
            }
          }
        }
      }
      .ant-tabs-content-holder {
        padding: 0 30px 0 30px;
      }
      .box-rating {
        box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08),
          0px 6px 8px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        padding: 20px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .rating-actions {
          margin-bottom: 10px;
        }
        .rating-result {
          color: #a5a3a9;
          font-weight: normal;
          font-size: 13px;
          line-height: 135%;
          strong {
            color: #34303e;
          }
        }
        .ant-rate-star-half .ant-rate-star-first,
        .ant-rate-star-full .ant-rate-star-second {
          span svg {
            fill: #ffde54;
          }
        }
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    // margin: 30px 0 30px 0;
    &--info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./media/outline-avatar.png");
        background-size: cover;
        height: 79px;
        width: 79px;
        margin-right: 16px;
        &__image {
          border-radius: 24px;
          object-fit: cover;
          width: 72px;
          height: 72px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        &-name {
          margin-bottom: 2px;
          strong {
            margin-right: 12px;
            font-weight: 800;
            font-size: 24px;
            line-height: 132%;
            letter-spacing: 0.01em;
            color: #1d1929;
          }
          span {
            margin-right: 3px;
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 147%;
            color: #4a4754;
          }
          label {
            background: #35ebbd;
            border-radius: 8px;
            font-weight: bold;
            font-size: 14px;
            line-height: 112%;
            color: #ffffff;
            padding: 4px 8px;
            text-align: center;
          }
        }
        &-jobs {
          font-weight: normal;
          font-size: 15px;
          line-height: 147%;
          color: #a5a3a9;
        }
      }
    }
    &--actions {
      &.bottom {
        display: flex;
        justify-content: flex-end;
        .send {
          width: 159px;
          height: 48px;
          font-size: 14px;
          line-height: 112%;
          font-weight: bold;
          margin-bottom: 100px;
          &_disable {
            background: #bbbabf;
            color: #ffffff;
            letter-spacing: 0.02em;
            opacity: 0.4;
          }
        }
        .cancel {
          border: 0;
          height: 48px;
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          color: #0085ff;
          letter-spacing: 0.02em;
          margin-right: 34px;
        }
      }
      .send {
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 10px;
        height: 36px;
        width: 147px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
      }
      .contacting {
        height: 36px;
        background: #f9f9f9;
        border: 1px solid #e8e8ea;
        border-radius: 10px;
        color: #615e69;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        padding: 10px 12px;
      }
    }
    &--myjobs {
      font-weight: 800;
      font-size: 24px;
      line-height: 132%;
      color: #1d1929;
      letter-spacing: 0.01em;
    }
  }
  &__content {
    h5 {
      font-weight: bold;
      font-size: 12px;
      line-height: 130%;
      color: #34303e;
      letter-spacing: 0.04em;
      margin-top: 26px;
      margin-bottom: 10px;
    }
    .box-info {
      background: #ffffff;
      border: 1px solid #e8e8ea;
      border-radius: 8px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 14px 31px;
      &__col {
        margin-right: 50px;
        text-align: center;
        &--name {
          font-weight: 600;
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0.03em;
          color: #a5a3a9;
          margin-bottom: 4px;
        }
        &--result {
          font-weight: bold;
          font-size: 18px;
          line-height: 135%;
          letter-spacing: 0.01em;
          color: #1d1929;
          margin: 0;
        }
      }
    }
    .box-medias {
      .carousel-main {
        margin: 20px 0;
        .image-item {
          padding: 0 16px 0 0;
          width: 350px;
          border-radius: 12px;
        }
        .react-multiple-carousel__arrow {
          background: #fff;
          min-width: 28px;
          min-height: 28px;
          filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08))
            drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
          opacity: 0.8;
          &--left {
            left: calc(0% + 1px);
          }
          &--right {
            right: calc(0% + 1px);
          }
          &::before {
            font-size: 12px;
            color: #77757f;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .box-followers {
      &__content {
        display: flex;
        justify-content: start;
        align-items: center;
        &--col {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-right: 30px;
          .left {
            margin-right: 10px;
          }
          .right {
            &-title {
              margin: 0;
              font-weight: 600;
              font-size: 12px;
              line-height: 130%;
              letter-spacing: 0.03em;
              color: #a5a3a9;
              span {
                margin-left: 5px;
              }
            }
            &-result {
              margin: 0;
              font-weight: bold;
              font-size: 15px;
              line-height: 147%;
              color: #34303e;
            }
          }
        }
      }
    }
    .box-portfolio {
      .play {
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        color: #55adff;
        display: flex;
        align-items: center;
        span {
          margin-right: 10px;
        }
      }
    }
    .box-category {
      &__content {
        .tags-read {
          background: #dceeff;
          border-radius: 99px;
          font-weight: bold;
          font-size: 13px;
          line-height: 135%;
          color: #1d92ff;
          margin: 0 10px 10px 0;
          border-radius: 99px;
          padding: 8px 12px 8px 8px;
          display: inline-block;
          span {
            margin-right: 10px;
          }
          svg path {
            fill: #1d92ff;
          }
        }
      }
    }
    .box-country {
      &__content {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        &--col {
          display: flex;
          flex: 0 0 50%;
          flex-direction: column;
          .info {
            margin: 0;
            font-weight: bold;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.04em;
            color: #34303e;
            margin-top: 26px;
            margin-bottom: 10px;
          }
          .result {
            margin: 0;
            font-weight: normal;
            font-size: 15px;
            line-height: 147%;
            color: #34303e;
          }
        }
      }
    }
    .box-biography {
      &__content {
        font-weight: normal;
        font-size: 15px;
        line-height: 147%;
        color: #34303e;
        p:last-child {
          margin: 0;
        }
      }
    }

    /* PAGE 3 */
    .product-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 135%;
      letter-spacing: 0.01em;
      color: #34303e;
      .anticon {
        margin-right: 11px;
      }
    }
    &--wrapper {
      padding: 30px;
      .form-sendDirect {
        .ant-form-item {
          margin-bottom: 16px;
          &.form-sendDirect__label,
          &.form-sendDirect__label--checkbox {
            label {
              font-weight: bold;
              font-size: 12px;
              line-height: 130%;
              letter-spacing: 0.04em;
              color: #4a4754;
              width: 100%;
              display: flex;
              align-items: center;
            }
            .ant-checkbox-wrapper {
              display: flex;
              align-items: center;
              justify-content: start;
              margin: 0 0 10px 0;
              .last {
                font-weight: 600;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.03em;
                color: #a5a3a9;
              }
              .first {
                font-weight: bold;
                font-size: 14px;
                line-height: 112%;
                letter-spacing: 0.02em;
                color: #1d1929;
              }
              > .ant-checkbox {
                .ant-checkbox-inner {
                  width: 20px;
                  height: 20px;
                  border-radius: 4px;
                  &::after {
                    top: 45%;
                    left: 29%;
                    border-width: 1px;
                  }
                }
                & + span {
                  padding-top: 7px;
                }
              }
              .ant-checkbox-checked::after {
                border-radius: 4px;
              }
            }
            .ant-radio-wrapper {
              > .ant-radio {
                top: 0;
                .ant-radio-inner {
                  width: 20px;
                  height: 20px;
                  &::after {
                    top: 4.5px;
                    left: 4.5px;
                    width: 9px;
                    height: 9px;
                    background-color: #fff;
                  }
                }
                // & + span {
                //   padding-top: 7px;
                // }
                &.ant-radio-checked {
                  .ant-radio-inner {
                    background-color: #0085ff;
                  }
                }
              }
            }
          }
          &.form-sendDirect__label--checkbox {
            label {
              .box-lbl {
                display: inline-flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                margin-bottom: 12px;
                > .ant-checkbox-wrapper {
                  justify-content: end;
                  margin: 0;
                  .ant-checkbox-checked::after {
                    border-radius: 4px;
                  }
                }
              }
            }
          }
          .form-sendDirect__control {
            height: 48px;
            width: 100%;
            border: 1px solid #e8e8ea;
            border-radius: 12px;
            font-weight: bold;
            font-size: 14px;
            line-height: 112%;
            color: #1d1929;
            letter-spacing: 0.02em;
            display: flex;
            align-items: center;
            padding: 8px;
            position: relative;
            &.disabled {
              background: #f9f9f9;
            }
            figure {
              width: 32px;
              height: 32px;
              margin: 0 16px 0 0;
              .dropdown-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
              }
            }
            .anticon {
              &.absolute {
                position: absolute;
                z-index: 2;
                &.right {
                  right: 0;
                  margin-right: 22px;
                }
              }
            }
            .ant-input-group {
              &-addon {
                height: 100%;
                background: transparent;
                border: 0;
                border-right: 1px solid #e8e8ea;
                color: #1d1929;
                font-weight: bold;
                font-size: 14px;
                line-height: 112%;
                letter-spacing: 0.02em;
                &-addon:focus-visible {
                  outline: none;
                }
              }
            }
            .ant-input {
              border: 0;
              &:focus,
              &:focus-visible {
                outline: none;
                box-shadow: none;
              }
            }
            .ant-input-disabled {
              background: transparent;
            }
          }
        }
      }
    }
  }
  /* MYJBOS PAGE*/
  &-myjobs {
    .ant-drawer-content-wrapper {
      background: #f9f9f9;
      .ant-drawer-body {
        padding: 30px;
        .ant-drawer-body__myjobs {
          background: #ffffff;
          box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08),
            0px 6px 8px rgba(0, 0, 0, 0.08);
          border-radius: 12px;
        }
      }
    }
  }
}

/* PAGE3: Menu in dropdown*/
.sendDirect-dropdown-menu {
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.08),
    0px 12px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 20px 24px;
  position: absolute;
  width: 100%;
  .ant-input-affix-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    > input {
      border: 1px solid #e8e8ea;
      border-radius: 10px;
      height: 36px;
      padding: 4px 8px;
    }
    .ant-input-suffix {
      position: absolute;
      right: 0;
      margin-right: 25px;
    }
  }
  .sendDirect-box-menu {
    height: 250px;
    overflow-y: scroll;
    margin-top: 24px;
    .title {
      padding: 0 0 17px;
      margin: 0;
      font-weight: normal;
      font-size: 13px;
      line-height: 135%;
      color: #1d1929;
      .anticon {
        margin-right: 15px;
      }
    }
    .ant-dropdown-menu-title-content {
      display: flex;
      figure {
        width: 32px;
        height: 32px;
        margin: 0 16px 0 0;
        .dropdown-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
  }
}

/* Submit proposal, complete job drawer */

.drawer-submit-proposal,
.drawer-complete-job {
  .add-btn {
    color: #615e69 !important;
    background: #f9f9f9;
    border: 1px solid #e8e8ea;
    box-shadow: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 36px;
  }
  p {
    margin: 0;
  }
  &__content {
    padding: 30px;
  }
  .ant-drawer-header {
    border-bottom: 1px solid #e8e8ea;
  }
  .ant-drawer-content {
    background-color: #f9f9f9;
  }
  .input-basic,
  .ant-picker {
    height: 48px;
    border: 1px solid #e8e8ea;
    border-radius: 12px;
  }
  .ant-picker {
    width: 100%;
  }
  .ant-input-prefix {
    width: 48px;
    border-right: 1px solid #e8e8ea;
  }
  .ant-input-group {
    border: 1px solid #e8e8ea;
    border-radius: 12px;
    overflow: hidden;
    .input-basic {
      border: none;
      border-left: 1px solid #e8e8ea;
    }
    .ant-select {
      height: 48px;
      .ant-select-selector {
        height: 100%;
        display: flex;
        align-items: center;
        border: none;
      }
    }
  }
  .title {
    font-size: 18px;
    font-weight: 700;
    color: #34303e;
    margin-bottom: 15px;
  }
  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .cb-group {
        p {
          &:first-child {
            font-weight: 700;
            font-size: 14px;
          }
          &:last-child {
            color: #a5a3a9;
            font-size: 12px;
          }
        }
      }
    }
  }

  .sub-title {
    font-size: 12px;
    color: #4a4754;
  }
  .ant-form-item-label > label {
    font-size: 12px;
    color: #4a4754;
  }
  &__deal-section {
    border-bottom: 2px dashed #e8e8ea;
    margin-bottom: 10px;
  }
  &__action {
    padding: 30px;
    border-top: 1px solid #e8e8ea;
    > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    a {
      &:last-child {
        margin-left: 30px;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        padding: 10px 15px;
        border-radius: 12px;
        color: white;
        display: inline-flex;
        align-items: center;
        span {
          margin-right: 10px;
        }
      }
    }
  }
  &__result {
    border: 1px solid #e8e8ea;
    border-radius: 18px;
    padding: 30px;
    background-color: #fff;
    > div {
      padding: 15px 0;
    }
    &__tags {
      text-align: center;
    }
    &__title {
      text-align: center;
      p {
        &:first-child {
          font-size: 16px;
          color: #1d1929;
          font-weight: 700;
        }
        &:last-child {
          font-weight: normal;
          font-size: 13px;
          color: #77757f;
        }
      }
    }
    &__duration {
      text-align: center;
      color: #1bd2a4;
    }
    &__deal {
      text-align: center;
      border-bottom: 2px dashed #e8e8ea;
      p {
        &:first-child {
          font-size: 34px;
          font-weight: 800;
        }
        &:last-child {
          font-size: 13px;
          color: #77757f;
          span {
            color: #1d1929;
            font-size: 700;
          }
        }
      }
    }
    &__table {
      border-bottom: 2px dashed #e8e8ea;
      p {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      table {
        width: 100%;
        font-size: 12px;
        border-collapse: separate;
        border-spacing: 0 7px;
        tr {
          td {
            white-space: nowrap;
            &:first-child {
              color: #77757f;
            }
            &:last-child {
              text-align: right;
              font-weight: 700;
            }
          }
        }
      }
    }
    &__message {
      p {
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
