.flow-signup,
.section-scroll {
  .ant-form-item-required{
    &:after{
        display: inline-block !important;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
}
  .ant-steps-item-container {
    width: 140px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 90px;
    }
  }
  .ant-steps-dot .ant-steps-item-tail {
    margin: 0;
    &:after {
      width: 100%;
      margin-left: 0;
      height: 2px;
    }
  }
  .steps-content {
    display: flex;
    flex-direction: column;
    margin: 36px 0;
  }
  .text-bold.mb36 {
    margin-bottom: 36px;
  }
  .pl30 {
    padding-left: 30px;
  }
  .mr10{
    margin-right: 10px;
  }
  .add-more{
    color: #615E69 !important;
    background: #F9F9F9;
    border: 1px solid #E8E8EA;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
    .cta.ant-btn.ant-btn-lg {
      width: 230px;
    }
    .react-tel-input {
      position: relative;
      .country-list {
        width: 100%;
        margin: 8px 0 10px 0;
        padding: 20px;
        border-radius: 12px;
        position: relative;
      }
      .form-control {
        width: 100%;
        height: 54px;
        font-size: 14px;
        font-weight: bold;
        padding-left: 70px;
        border-radius: 12px;
        border: 1px solid @color-grey-11;
        &.open {
          border-radius: 12px;
          background-color: @color-grey-14;
          border: 1px solid @color-grey-11;
          width: 100%;
        }
      }
      .flag-dropdown {
        border-radius: 12px;
        background-color: transparent;
        border: 1px solid @color-grey-11;
        border-right: 0;
        .selected-flag {
          border-radius: 12px 0 0 12px;
          width: 20px;
          padding: 20px 20px;
          .arrow {
            left: 25px;
            top: 25%;
            background-image: url("./media/down-select.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 10px;
            height: 5px;
            margin-top: 0px;
          }
        }
      }
    }
    .anticon {
      opacity: 1;
    }
    .absolute.left {
      margin-top: 16px;
      margin-left: 20px;
    }
    .select-style,
    .select-noicon {
      height: 54px;
      font-size: 14px;
      font-weight: bold;
      display: block;
      width: 100%;
      margin: 0;
      padding: 12px 20px 12px 45px;
      outline: none;
      appearance: none;
      position: relative;
      z-index: 1;
      background: transparent;
      cursor: pointer;
      border-radius: 12px;
      background-color: @color-grey-14;
      border: 1px solid @color-grey-11;
      background-image: url("./media/down-select.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      background-size: 10px;
    }
    .select-noicon {
      padding: 0;
      color: #a5a3a9;
      font-weight: normal;
      &.ant-select-open {
        color: #1d1929;
      }
      .ant-select-selector {
        border: 0;
        height: 50px;
        border-radius: 12px;
        padding: 12px 20px 12px 24px;
        &:hover,
        &:focus {
          border: 0;
          outline: 0;
        }
        .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
          margin-left: -24px;
        }
        .ant-select-selection-item {
          font-weight: bold;
          font-size: 13px;
          color: #1d1929;
        }
      }
      .absolute.right {
        bottom: -2px;
        top: auto;
        right: 5px;
      }
    }
    .ant-picker {
      height: 54px;
      width: 100%;
      font-size: 14px;
      border-radius: 12px;
      background-color: @color-grey-14;
      border: 1px solid @color-grey-11;
      outline: none;
      padding: 10px 24px;
      font-weight: bold;
      .ant-picker-input {
        > input {
          font-weight: normal;
          color: #a5a3a9;
        }
      }
    }
    .ant-input-suffix {
      .suffix-custom {
        padding-left: 16px;
        border-left: 2px solid #e8e8ea;
        font-weight: 700;
        font-size: 14px;
      }
    }
    .ant-input-prefix {
      .perfix-custom {
        padding-right: 16px;
        border-right: 2px solid #e8e8ea;
        font-weight: 700;
        font-size: 14px;
      }
    }
    .avatar-image {
      .ant-image {
        height: 194px;
        width: 194px;
        display: flex;
        .avatar-image_view {
          border-radius: 12px;
          object-fit: cover;
        }
      }
    }
  }
  .experience {
    font-size: 12px;
    font-weight: 600;
    color: #a5a3a9;
    letter-spacing: 0.03em;
  }
  .steps-action {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin: 0;
    .ant-form-item-control-input-content {
      .cta.control {
        width: 160px;
        height: 48px;
        border-radius: 12px;
        &.next {
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        }
        &.prev {
          background: #fff;
          border: 1px solid #e8e8ea;
          border-radius: 12px;
          color: #615e69;
        }
      }
    }
    .cta.control {
      width: 160px;
      height: 48px;
      border-radius: 12px;
      &.prev {
        background: #fff;
        border: 1px solid #e8e8ea;
        border-radius: 12px;
        color: #615e69;
      }
      &.skip {
        border: 0;
        background: transparent;
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: #0085ff;
        align-items: center;
        height: 48px;
      }
    }
  }
  .topics-categories {
    font-weight: bold;
    font-size: 12px;
    color: #4a4754;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .topics-tags {
    margin-bottom: 20px;
    .ant-tag {
      border-radius: 99px;
      font-weight: normal;
      font-size: 13px;
      padding: 8px 12px;
      margin-bottom: 10px;
      .anticon {
        padding-right: 10px;
      }
      &.ant-tag-checkable {
        background: #e8e8ea;
        color: #1d1929;
        &.ant-tag-checkable-checked {
          background: #0085ff;
          color: #f9f9f9;
          &.none-cheked {
            cursor: no-drop;
            background: #e8e8ea;
            color: #1d1929;
          }
          .anticon > svg > path {
            fill: #f9f9f9;
          }
        }
        &.cursor:hover {
          cursor: no-drop;
          background: #e8e8ea;
          color: #1d1929;
        }
      }
    }
  }
  .personal-infomation {
    position: relative;
    .ant-upload-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      .ant-upload-select-picture-card,
      .ant-upload-list-picture-card-container {
        border-radius: 12px;
        width: 160px;
        height: 160px;
        margin: 10px 5px;
        display: flex;
        justify-content: center;
        .ant-upload-list-item-undefined {
          .ant-upload-list-item-info {
            border-radius: 12px;
            .ant-upload-span {
              .ant-upload-list-item-thumbnail {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                content: "";
                height: 100%;
                opacity: 1;
                > img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
      .ant-upload-select-picture-card {
        order: 1;
        border: 1px dashed #e8e8ea;
      }
      .ant-upload-list-picture-card-container {
        order: 2;
      }
      .ant-upload-list-item {
        border: 1px solid #e8e8ea;
        border-radius: 12px;
        width: 160px;
        height: 160px;
        padding: 0;
        .ant-upload-list-item-info {
          .ant-upload-list-item-thumbnail {
            opacity: 1;
          }
        }
      }
    }
  }
  .avatar-uploader {
    .ant-upload.ant-upload-select-picture-card {
      background-color: #fff;
    }
  }
  .box-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    position: relative;
    .before-upload-box {
      display: flex;
      background: transparent;
      border: none;
      padding: 0;
      &.hidden {
        display: none;
      }
      .box-none-file {
        display: flex;
        > div {
          border: 1px solid #e8e8ea;
          width: 160px;
          height: 160px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin: 10px 10px;
          margin-bottom: 8px;
          text-align: center;
          vertical-align: top;
          border-radius: 12px;
          align-content: center;
          flex-wrap: nowrap;
          flex-direction: row;
        }
      }
    }
  }
}
