.captive {
  .host-profile {
    &_page {
      width: 100%;
      .main-content {
        padding: 0 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-tabs {
          width: 100%;
          .ant-tabs-nav {
            background: @color-grey-12;
            &:before {
              border: 0;
            }
            .ant-tabs-nav-list {
              .ant-tabs-tab {
                color: @color-grey-17;
                font-weight: bold;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.04em;
                padding-top: 0;
              }
            }
          }
        }
      }
    }
    &_title {
      background: @color-grey-12;
      color: @color-grey-15;
      font-weight: 800;
      font-size: 24px;
      line-height: 132%;
      letter-spacing: 0.01em;
      margin: 27px 0 0;
      &.mb20 {
        margin-bottom: 20px;
      }
    }
    &_actions {
      display: flex;
      .control {
        border-radius: 10px;
        margin: 0 11px;
        padding: 10px 16px 10px 10px;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.cancel {
          border: 1px solid @color-grey-11;
          color: @color-grey-16;
          background: @color-grey-12;
          &:hover {
            color: @color-grey-16;
          }
        }
        &.save {
          color: @color-grey-14;
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        }
      }
    }
    &_content {
      .profile-completion {
        padding: 20px;
        margin: 0 0 20px;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 18px;
        min-width: 300px;
        min-height: 172px;
        .control.complete {
          background-color: #ffffff;
          border-radius: 10px;
          color: #0085ff;
          text-align: center;
          letter-spacing: 0.02em;
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          height: 36px;
          margin-top: 20px;
        }
        &_title {
          color: #f9f9f9;
          font-weight: bold;
          font-size: 15px;
          line-height: 147%;
        }
        &_content {
          color: #f9f9f9;
          letter-spacing: 0.03em;
          font-weight: 600;
          font-size: 12px;
          line-height: 130%;
          margin: 6px 0 20px;
        }
        .ant-progress-text {
          color: #fff;
          font-weight: bold;
          font-size: 15px;
          line-height: 147%;
        }
      }
      .section-scroll {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid @color-grey-11;
        width: 700px;
        h1 {
          font-weight: bold;
          font-size: 18px;
          line-height: 135%;
          color: @color-grey-18;
          letter-spacing: 0.01em;
          margin-bottom: 30px;
          span {
            padding-right: 10px;
          }
          label {
            margin-left: 26px;
            font-weight: normal;
            font-size: 13px;
            line-height: 135%;
            color: @color-grey-6;
          }
        }
        .lbl-hozi,
        .lbl-vert,
        .lbl-hori-full {
          font-weight: bold;
          font-size: 12px;
          line-height: 130%;
          color: @color-grey-8;
          &.grey {
            color: @color-grey-4;
            margin: 16px 0 10px;
          }
        }
        .txt-hozi,
        .txt-vert {
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          letter-spacing: 0.02em;
          color: @color-grey-15;
          &.mb26 {
            margin-bottom: 26px;
          }
          &.blue {
            color: @color-grey-19;
          }
        }
        .lbl-hozi {
          margin-bottom: 10px;
        }
        .lbl-vert {
          margin-bottom: 16px;
        }
        .input-with-lbl-hori {
          .ant-form-item-label > label {
            font-weight: bold;
            font-size: 12px;
            line-height: 130%;
            color: @color-grey-4;
          }
          .ant-form-item-control {
            input {
              background: #ffffff;
              border: 1px solid #e8e8ea;
              border-radius: 12px;
              height: 48px;
            }
          }
          .ant-form-item {
            textarea.ant-input {
              height: 125px;
            }
          }
        }
        .ant-image {
          > img {
            border-radius: 12px;
          }
        }
        .box-medias {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          align-content: center;
          justify-items: left;
          flex-wrap: wrap;
          gap: 20px 20px;
          margin-left: 26px;
          .ant-image-mask {
            display: none;
          }
        }
        .topics-tags-view {
          margin-left: 26px;
          margin-top: 30px;
          .ant-tag {
            border-radius: 99px;
            font-weight: 700;
            font-size: 13px;
            padding: 7px 12px;
            margin-bottom: 10px;
            &.ant-tag-checkable {
              background: #dceeff;
              color: #1d92ff;
            }
            .anticon {
              padding-right: 5px;
            }
          }
        }
        .topics-tags-edit {
          margin: 30px 0 0;
          .topics-categories {
            margin: 0 0 0 26px;
          }
          .topics-tags {
            margin: 10px 0 16px 26px;
          }
          .ant-tag {
            border-radius: 99px;
            font-weight: 700;
            font-size: 13px;
            padding: 7px 12px;
            margin-bottom: 10px;
            &.ant-tag-checkable {
              background: #e8e8ea;
              color: #1d1929;
              &.ant-tag-checkable-checked {
                background: #0085ff;
                color: #f9f9f9;
                &.none-cheked {
                  cursor: no-drop;
                  background: #e8e8ea;
                  color: #1d1929;
                }
                .anticon > svg > path {
                  fill: #f9f9f9;
                }
              }
              &.cursor:hover {
                cursor: no-drop;
                background: #e8e8ea;
                color: #1d1929;
              }
            }
            .anticon {
              padding-right: 5px;
            }
          }
        }
        .ant-form-item-control-input-content {
          flex-direction: column;
          .upload {
            display: flex;
            align-items: baseline;
            justify-content: center;
            letter-spacing: 0.04em;
            position: absolute;
            bottom: 0;
            top: auto;
            margin-bottom: -20px;
            .text {
              font-weight: bold;
              font-size: 12px;
              line-height: 130%;
              color: #0085ff;
            }
            span {
              margin-right: 10px;
              > svg > path {
                stroke: #0085ff;
              }
            }
          }
          .ant-upload.ant-upload-select-picture-card {
            display: flex;
            flex-direction: column;
            height: 100%;
            > .ant-upload {
              flex-direction: column;
            }
          }
          .input-h48 {
            height: 48px;
            background: #fff;
            .ant-input {
              border: 0;
              height: auto;
              &::placeholder {
                color: #1d1929;
              }
            }
          }
          .control.reset-pass {
            display: flex;
            flex-direction: row;
            width: 161px;
            height: 36px;
            border: 1px solid #e8e8ea;
            border-radius: 10px;
            background: #f9f9f9;
            color: #615e69;
            justify-content: center;
            align-items: center;
          }
        }
        &_overview {
          .avatar-image {
            .ant-image,
            .ant-image-img {
              height: 194px;
              display: flex;
            }
            &_view {
              width: 100%;
              object-fit: cover;
            }
          }
          .avatar-image152 {
            .ant-image {
              height: 152px;
              display: flex;
            }
            &_view {
              width: 100%;
              object-fit: cover;
            }
          }
        }

        .topics-tags-view .ant-tag svg path {
          fill: #1d92ff;
        }
      }
      .row-host-profile {
        flex: 1 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}
