.captive {
  .host-list-page {
    width: 100%;
    .host-list-filter {
      padding: 0 30px 14px;
      background: @color-grey-12;
      display: flex;
      align-items: center;

      .filter-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 18px;
        .filter-body {
          height: 56px;
          border-radius: 12px;
          border: 1px solid #e8e8ea;
          padding: 10px 0 10px 18px;
          display: flex;
          align-items: center;

          .filter-icon {
            padding: 0 10px;
            svg {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }

    .tags-bar {
      padding: 20px 30px 6px;
      button.tag {
        margin-right: 12px;
        border-radius: 10px;
        color: #4A4754;
        font-weight: 500;
        &.active {
          color: #0085FF;
          background-color: #F9F9F9;
          font-weight: 700;
        }
      }
    }

    .host-list-table {
      padding: 20px 30px;
      .ant-table {
        .host {
          display: flex;
          align-items: center;
          font-size: 15px;
          .host-avatar {
            min-width: 60px;
            min-height: 60px;
            max-width: 60px;
            max-height: 60px;
            display: flex;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 10px;
            img {
              min-height: 100%;
              max-width: 100%;
            }
          }

          .host-info {
            .host-name {
              font-weight: bold;
            }
          }
        }
        .host-followers {
          display: flex;

          .host-follower {
            margin-right: 10px;
            min-width: 50px;
            .anticon img {
              width: 16px;
              height: 16px;
            }

            &.none {
              color: #ccc;
              .anticon img {
                filter: grayscale(1);
              }
            }
          }

          
        }
        .ant-table-thead {
          tr {
            th {
              border-bottom: none;
              padding-top: 7px;
              padding-bottom: 7px;
              background: @color-grey-12;
              font-size: 13px;
              color: @color-grey-6;
              &:before {
                display: none;
              }
              &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                padding-left: 16px;
                padding-right: 16px;
              }
              &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
              }
            }
          }
        }

        .ant-table-tbody {
          tr {
            position: relative;
            .physique {
              min-width: 230px;
            }
            .host-tags {
              min-width: 250px;
              max-width: 250px;
            }
            td {
              border-bottom: none;
              font-size: 13px;

              .ant-tag {
                border-radius: 14px;
                font-size: 13px;
                padding: 2px 7px 1px;
                margin: 5px 10px 5px 0;
              }

              .ant-btn-sm {
                font-size: 12px;
                height: 28px;
                border-radius: 6px;
              }

              &:before {
                display: none;
              }
              &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
              }
              &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
              }
            }

            &:hover {
              border-radius: 8px;
              box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08),
                0px 6px 8px rgba(0, 0, 0, 0.08);
              overflow: hidden;
              z-index: 10;
              td {
                background: #fff;
              }
            }
            &.ant-table-row-selected {
              td {
                background: none;
              }
            }
          }
        }
      }
      .ant-pagination {
        display: flex;
        padding: 16px 0;
        border-top: 1px solid @color-grey-11;
        .ant-pagination-total-text {
          font-size: 13px;
          font-weight: 600;
          color: @color-grey-8;
          flex: 1;
        }
        .ant-pagination-options {
          flex: 1;
          text-align: right;
        }
        .ant-select-sm {
          .ant-select-selector {
            height: 28px;
            padding: 2px 7px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

// Modified

.captive {
  .host-list-page {
    .host-list-filter {
      .filter-item {
        .filter-body {
          .title-subtitle {
            .title {
              color: #4a4754;
            }
            .subtitle {
              color: #a5a3a9;
            }
          }
        }
        .ant-input-search {
          .ant-input {
            height: 56px;
            border: 1px solid #e8e8ea;
            border-right: none;
            border-radius: 12px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-left: 20px;
          }
          .ant-input-group-addon {
            background: #fff;
            border: 1px solid #e8e8ea;
            border-left: none;
            border-radius: 12px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            .ant-btn {
              border: none;
            }
          }
        }
      }
    }
  }
}

.host-modal {
  width: 1000px !important;

  .next,
  .prev {
    position: absolute;
    top: 50%;
  }

  .next {
    right: -60px;
  }

  .prev {
    left: -60px;
  }

  .ant-tag {
    margin: 0 8px 8px 0;
    border-radius: 99px;
    padding: 8px 12px 8px 8px;
    font-weight: bold;
    font-size: 13px;
    line-height: 135%;
  }

  .ant-modal-content {
    border-radius: 18px;

    .ant-modal-body {
      padding: 30px;
    }
  }

  .ant-carousel {
    .slick-slide {
      > div {
        height: 500px;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f6f6f6;
      }
    }

    .slick-dots {
      li {
        button {
          background: #ccc;
          height: 7px;
          border-radius: 2px;
          border: 1px solid #fff;
        }
        &.slick-active {
          button {
            background: @color-primary;
          }
        }
      }
    }
  }

  .host-info {
    overflow-y: scroll;
    height: 100%;
    height: calc(100% - 10px);
    position: absolute;
    margin: 10px 0;
    padding: 0 10px;

    .host-avatar {
      display: flex;
      align-items: center;

      .image {
        width: 72px;
        height: 72px;
        border-radius: 24px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        margin-right: 20px;
        img {
          width: 66px;
          height: 66px;
          border-radius: 20px;
          border: 2px solid #fff;
        }
      }
      h2 {
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-weight: bold;
        .anticon {
          margin-left: 10px;
        }
      }
      h4 {
        font-size: 15px;
        margin: 0;
        padding: 0;
        color: #a5a3a9;
        font-weight: normal;
      }
    }
    .title-subtitle {
      margin-right: 20px;

      .title {
        color: #1d1929;
        font-weight: bold;
        font-size: 18px;
      }

      .subtitle {
        color: #a5a3a9;
        font-size: 12px;
      }
    }

    .main-info,
    .other-info {
      display: flex;
      margin: 18px 0;
    }

    .main-info {
      padding: 14px 24px;
      background: #f9f9f9;
      border: 1px solid #e8e8ea;
      border-radius: 8px;
      .title-subtitle {
        margin-right: 40px;
        .subtitle {
          color: #a5a3a9;
          font-size: 12px;
          letter-spacing: 0.03em;
          line-height: 130%;
        }
        .title {
          color: #1d1929;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 0.01em;
          line-height: 135%;
          margin-top: 4px;
        }
      }
    }

    .other-info {
      .title-subtitle {
        flex: 1 1;
        .subtitle {
          color: #34303e;
          font-weight: bold;
          letter-spacing: 0.04em;
          font-size: 12px;
          line-height: 130%;
        }
        .title {
          color: #34303e;
          font-weight: normal;
          font-size: 15px;
          margin: 10px 0px 0;
          line-height: 147%;
        }
      }
    }

    .followrsTitle,
    .categoriesTitle,
    .aboutTitle {
      color: #34303e;
      font-weight: bold;
      letter-spacing: 0.04em;
      font-size: 12px;
      line-height: 130%;
    }

    .followers {
      display: flex;
      margin: 10px 0;
      .title {
        font-weight: bold;
        font-size: 15px;
        line-height: 147%;
        color: #34303e;
      }
    }

    .categoriesTitle,
    .aboutTitle {
      display: flex;
      margin: 18px 0 10px;
    }

    .category {
      margin: 10px 0;
    }

    .about {
      margin: 10px 0;
    }

    .action {
      display: flex;
      justify-content: center;
      .ant-btn {
        width: 250px;
        height: 48px;
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 12px;
        color: #fff;
      }
    }
  }
}

.filter-content {
  .ant-form-inline {
    margin-bottom: 20px;
    .ant-form-item {
      border-bottom: none !important;
      padding: 0 !important;
    }
    input {
      min-width: 50px;
      max-width: 70px;
      border-radius: 8px;
      text-align: center;
    }
    p {
      padding: 0 0 0 30px;
      margin: 0;
    }
  }

  .ant-form {
    .ant-form-item {
      border-bottom: 1px solid #eee;
      margin-bottom: 0;
      padding: 10px 20px;
    }
  }

  .sub-category {
    .ant-form-item {
      border-bottom: none !important;
    }
  }

  .filter-slider {
    width: 200px;
  }
}

.filter-popover {
  .ant-popover-inner-content {
    padding: 0 !important;
  }
  .filter-content {
    padding: 20px !important;
    .filter-slider {
      width: 250px;
    }
    &.no-padding {
      padding: 0 !important;
    }
  }

  .ant-collapse {
    width: 250px;
    border: none;
    background: none;
    .ant-collapse-item {
      border-bottom: 1px solid #e8e8ea;
    }
    .ant-collapse-content {
      border-top: none;

      .ant-collapse-content-box {
        padding: 0 30px;
      }
    }
    // .ant-collapse-item-active {
    //   border-bottom: none;
    // }
  }
  .ant-collapse-header {
    display: flex;
    .ant-checkbox-wrapper {
      margin-right: 10px;
    }
  }

  .sub-category {
    .sub-category-item {
      padding: 10px;
    }
  }
}
