.job-order {
    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &__table {
        .ant-table-placeholder {
            display: none;
        }
        &__list {
            margin: 10px 0;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            &__total {
                color: #0085FF;
                margin-right: 10px;
            }
            &__header {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #E8E8EA;
            }
            &__action {
                display: flex;
                align-items: center;
                text-align: right;
                div {
                    &:last-child {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    &__total {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.08), 0px 12px 16px rgba(0, 0, 0, 0.08);
        padding: 30px 50px;
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__job {
            > div {
                display: flex;
            }
            &__image{
                width: 52px;
                height: 52px;
                border-radius: 12px;
                margin-right: 15px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__info {
                p {
                    margin: 0;
                    &:first-child {
                        font-size: 24px;
                        font-weight: 800;
                    }
                }
            }
            &__result {
                font-weight: 800;
            }
            &__container {
                display: flex;
            }
            &__summary {
                display: flex;
                align-items: flex-end;
                > div {
                    &:first-child {
                        width: 250px;
                        table {
                            width: 100%;
                            margin-bottom: 15px;
                            border-bottom: 1px solid #E8E8EA;
                            tr {
                                td {
                                    padding: 5px 0;
                                    &:last-child {
                                        text-align: right;
                                    }
                                }
                            }
                        }
                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span {
                                &:last-child {
                                    font-size: 24px;
                                    font-weight: 800;
                                }
                            }
                        }
                    }
                    &:last-child {
                        margin-left: 30px;
                        margin-bottom: 10px;
                        a {
                            &:first-child {
                                margin-right: 15px;
                            }
                            &:last-child {
                                background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
                                border-radius: 10px;
                                color: white;
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__table-container {
        padding: 0px 35px;
    }
    &__list-filter {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__tags {
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                display: flex;
            }
        }
        &__tag {
            margin-right: 20px;
            border: 1px solid #E8E8EA;
            border-radius: 10px;
            a, label {
                display: inline-flex;
                align-items: center;
                color: #4A4754;
                padding: 6px 15px;
            }
            &--selected {
                background: #F9F9F9;
                a {
                    color: #0085FF;
                }
            }
        }
        &__filter {
            .ant-select-selector {
                height: 42px !important;
                border: 1px solid #E8E8EA !important;
                border-radius: 10px !important;
            }
            .ant-select-selection-item {
                display: flex;
                align-items: center;
            }
        }
    }
    &__top {
        display: block;
        padding: 30px 35px 20px 35px;
        &__container {
            display: flex;
            > div {
                width: 50%;
            }
        }
        &__order-statistics {
            &__income {
                display: flex;
                align-items: center;
                >div {
                    padding: 0 15px 0 20px;
                    >div {
                        p {
                            &:last-child {
                                font-size: 24px;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
            &__income-detail {
                padding: 5px 0 0 0 !important;
                border-top: 1px solid #E8E8EA;
                margin-top: 5px;
                table {
                    width: 100%;
                    td {
                        &:first-child {
                            color: #8E8C94
                        }
                        &:last-child {
                            font-weight: 700;
                            text-align: right;
                        }
                    }
                }
            }
            p {
                margin: 0;
                color: #8E8C94;
                font-size: 12px;
            }
            &__product {
                font-size: 12px;
            }
            &__product-count {
                font-size: 24px !important;
                font-weight: 800;
                color: black !important;
            }
            &__product-total {
                font-size: 15px !important;
                font-weight: 800;
                color: black !important;
            }
            > div {
                display: flex;
                justify-content: flex-end;
                border-radius: 16px;
                > div {
                    padding: 10px 20px;
                    border: 1px solid #E8E8EA;
                    p {
                        &:last-child {
                            
                        }
                    }
                    &:first-child {
                        border-right: none;
                        border-top-left-radius: 16px;
                        border-bottom-left-radius: 16px;
                    }
                    &:last-child {
                        border-top-right-radius: 16px;
                        border-bottom-right-radius: 16px;
                        p {
                            &:last-child {
                                color: #1B79E7;
                            }
                        }
                        div {
                            &:last-child {
                                
                            }
                        }
                    }
                }
            }
        }
        &__back-button {
            margin-right: 15px;
            transform: translateY(8px);
        }
        &__info {
            > div{
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                span {
                    margin-right: 10px;
                }
            }
            div {
                &:last-child {
                    span {
                        > span {
                            margin-left: 5px;
                            font-weight: 700;
                        }
                    }
                }
            }
            &__title {
                font-size: 24px;
                font-weight: 800;
            }
        }
    }
}

.chip {
    display: inline-block;
    padding: 5px 15px;
    background: #DCEEFF;
    border-radius: 16px;
    color: #1D92FF
}

.text-bold {
    font-weight: 700;
}

.text-title{
    font-weight: 800;
    font-size: 24px;
    margin: 0
}

.job-row-actions {
    padding: 10px 20px;
}

.submit-order {
    .payment-detail__order {
        margin: 0;
    }
    .payment-detail__container {
        padding: 0 !important;
    }
    .payment-detail__order__detail{
        border: none;
        padding: 0;
    }
    .drawer-submit-proposal__action {
        padding: 0;
        padding-top: 30px;
    }
    .payment-method {
        border-top: 2px dashed #E8E8EA;
        padding-top: 30px;
        margin-bottom: 30px;
        .ant-radio-wrapper {
            border: 1px solid #d9d9d9;
            border-radius: 8px;
            margin-bottom: 15px;
        }
        .ant-radio-wrapper-checked{
            border: 1px solid #0085FF
        }
        .ant-radio-wrapper, .ant-space-item, .ant-space, .ant-radio-group {
            width: 100%;
        }
        .ant-radio {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%)
        }
        .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        p {
            margin: 0;
        }
        &__options {
            display: flex;
        }
        &__option {
            position: relative;
            padding: 10px 15px;
            display: flex; 
            align-items: center;
            
            width: 100%;
            div {
                &:first-child {
                    margin-right: 15px;
                    
                }
                &:last-child {
                    p {
                        &:first-child {
                            font-weight: 700;
                        }
                        &:last-child{
                            color: #FF7D1A
                        }
                    }
                }
            }
        }
    }
}

.confirm-order {
    .payment-detail__card__proof--nofile {
        div {
            display: flex;
            a {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    table {
        width: 100%;
        tr {
            td {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }