.market{
    width: 100%;
    padding: 20px 30px 60px;
    h2{
        font-weight: 800;
        font-size: 24px;
        color:@color-grey-4;
    }
    .tags-market{
        span{
            font-weight: 600;
            font-size: 12px;
            color: @color-grey-14;
            padding: 4px 8px;
            border-radius: 4px;
        }
        span:not(:first-child){
            margin-left: 10px;
        }
        .orange-tab{
            background-color: @color-orange-6;
        }
        .blue-tab{
            background-color: @color-blue-5;
        }
    }
    .market__trending{
        > h2{
            margin-bottom: 30px;
        }
        .market__trending__main{
            padding-left: 30px;
            display: flex;
            gap: 0 50px;
            .market__trending__main__picture{
                width: 520px;
                max-width: 520px;
                max-height: 348px;
                background-color: gray;
                img{
                    width: 100%;
                    height: 100%;
                    filter: drop-shadow(0px 4px 56px rgba(0, 0, 0, 0.08)) drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.08));
                    border-radius: 24px;
                }
            }
            .market__trending__main__content{
                max-width: 570px;
                margin-top: 10px;
                h2{
                    margin-top: 12px;
                    margin-bottom: 0px;
                    font-weight: 800;
                    font-size: 34px;
                    color: @color-grey-15;
                }
                .avatar{
                    margin-top: 12px;
                    border-bottom: 2px dashed @color-grey-11;
                    padding-bottom: 30px;
                    img{
                        border-radius: 100px;
                        width: 32px;
                        height: 32px;
                    }
                    span{
                        font-weight: bold;
                        font-size: 14px;
                        color: @color-grey-4;
                        margin-left: 12px;
                    }
                }
                .infor{
                    margin-top: 30px;
                    display: flex;
                    gap:0 60px;
                    span{
                        div .anticon{
                            margin-right: 10.5px;
                        }
                        div:first-child{
                            font-weight: 600;
                            font-size: 12px;
                            color: @color-grey-8;
                        }
                        >div:last-child{
                            margin-top: 10px;
                            font-weight: bold;
                            font-size: 18px;
                            color: @color-grey-4;
                        }
                        .avatar-group{
                            display: flex;
                            align-items: center;
                            .ant-avatar{
                                width: 24px;
                                height: 24px;
                                border: 2px solid #F9F9F9 ;
                                border-radius: 100px;
                            }
                            >span:last-child{
                                margin-left: 12px;
                            }
                        }
                    }
                }
                .action{
                    margin-top: 30px;
                    display: flex;
                    gap: 0 12px;
                    .ant-btn.ant-btn-primary.ant-btn-lg{
                        border-radius: 12px;
                        font-weight: bold;
                        font-size: 14px;
                        
                    }
                    >button:first-child { 
                        background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
                        padding: 14px 37.5px 14px 38px;
                        height: 100%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        >span:last-child{
                            margin-left: 17px;
                        }
                    }
                    >button:last-child{
                        padding: 14px 34.5px;
                        height: 100%;
                        background-color: @color-grey-14;
                        color: @color-grey-5;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        .anticon svg{
                            path{
                                fill: @color-grey-5;
                            }
                        }
                        >span:last-child{
                            margin-left: 17px;
                        }
                    }
                }
            }

        }
    }
    .market-bid{
        margin-top: 40px;
        .market-bid__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid @color-grey-11;
            padding-bottom: 24px;
            p{
                margin: 0;
                font-weight: bold;
                font-size: 14px;
                color: @color-blue-3;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .market-bid__product{
            padding-top: 20px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 30px;
            .market-bid__product-item{
                cursor: pointer;
                padding: 18px 20px 14px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 90.1%);
                background-size:     cover;                     
                background-repeat:   no-repeat;
                background-position: center center;
                background-color: gray;
                opacity: 0.9;
                border-radius: 12px;
                min-height: 299px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .market-bid__product-item__header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .header__avatar{
                        span:first-child{
                            img{
                                border-radius: 100px;
                                width: 24px;
                                height: 24px;
                            }
                        }
                        span:last-child{
                            margin-left: 12px;
                            font-weight: bold;
                            font-size: 14px;
                            color: @color-grey-12;
                        }
                    }
                    .header__tag{
                        padding: 6px 8px;
                        background: @color-grey-11;
                        border-radius: 16px;
                        font-weight: bold;
                        font-size: 12px;
                        color: @color-grey-5;
                    }
                }
                .market-bid__product-item__content{
                    .title{
                        margin-top: 14px;
                        font-weight: 800;
                        font-size: 24px;
                        color: @color-grey-14;
                    }
                    .infor{
                        display: flex;
                        gap: 0 40px;
                        margin-top: 16px;
                        .infor-title{
                            font-weight: 600;
                            font-size: 12px;
                            color: @color-grey-8;
                        }
                        .infor-content{
                            font-weight: bold;
                            font-size: 16px;
                            color:@color-grey-11;
                        }

                    }
                }
                
            }
        }
    }
    .maket-product{
        margin-top: 40px;
        .market-product__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid @color-grey-11;
            padding-bottom: 24px;
            p{
                margin: 0;
                font-weight: bold;
                font-size: 14px;
                color: @color-blue-3;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.market-product__list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px 30px;
    .item{
        cursor: pointer;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        background:@color-grey-14;
        min-height: 442px;
        .item__bg{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.38%, rgba(0, 0, 0, 0.7) 85.94%);
            background-color: gray;
            background-size:     cover;                     
            background-repeat:   no-repeat;
            background-position: center center;
            height: 242px;
            border-radius: 12px 12px 0px 0px;
            padding: 20px 20px 19px;
            opacity: 0.9;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .item__tag{
                margin: 0 5px 5px 0;
                padding: 6px 8px;
                font-weight: bold;
                font-size: 12px;
                border-radius: 16px;
                display: inline-block;
            }
            .blue{
                color: @color-blue-4;
                background-color: @color-blue-12;
            }
            .orange{
                color: #FF7D1A;
                background-color: #FFF1E6;
            }
            .gray{
                color: #615E69;
                background-color: #E8E8EA;
            }
            >div:last-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .bid{
                    display: flex;
                    align-items: center;
                    span:first-child{
                        font-weight: bold;
                        font-size: 18px;
                        color: @color-grey-14;
                        margin-right: 6px;
                    }
                    span:last-child{
                        font-weight: 600;
                        font-size: 12px;
                        color: @color-grey-11;
                    }
                }
            }
        }
        .item__content{
            padding: 17px 18px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 200px;
            h3{
                font-weight: 800;
                font-size: 24px;
                color: @color-grey-15;
                margin-top: 4px;
            }
            .avatar{
                display: flex;
                align-items: center;
                img{
                    border-radius: 100px;
                    width: 24px;
                    height: 24px;
                }
                span{
                    font-weight: bold;
                    font-size: 14px;
                    color: @color-grey-4;
                    margin-left: 12px;
                }
            }
            >div:last-child{
                display: flex;
                justify-content: space-between;
                span{
                    >div:first-child{
                        font-weight: 600;
                        font-size: 12px;
                        color:@color-grey-8;
                        margin-bottom: 6px;
                    }
                    >div:last-child{
                        font-weight: bold;
                        font-size: 16px;
                        color:@color-grey-4;
                    }
                }
            }
        }
    }
}

.featured-products, .campaigns {
    padding: 0 !important;
    width: 100%;
    .market-product__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .market-bid__product-item {
        margin-bottom: 20px
    }
    &__header {
        > div {
            height: 76px;
            background-color: @color-grey-12;
            display: flex;
            padding: 0 35px;
            align-items: center;
            h2 {
                margin-left: 15px;
                font-size: 24px;
                font-weight: 800;
            }
        }
    }
    &__content {
        padding: 15px 35px;
    }
}

.list-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__tags {
        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            display: flex;
        }
    }
    &__tag {
        margin-right: 20px;
        border: 1px solid #E8E8EA;
        border-radius: 10px;
        a {
            display: inline-block;
            color: #4A4754;
            padding: 10px 12px;
        }
        &--selected {
            background: #F9F9F9;
            a {
                color: #0085FF;
            }
        }
    }
    &__filter {
        .ant-select-selector {
            height: 42px !important;
            border: 1px solid #E8E8EA !important;
            border-radius: 10px !important;
        }
        .ant-select-selection-item {
            display: flex;
            align-items: center;
        }
    }
}
.featured-products {
    .market-product__list{
        grid-template-columns: repeat(4, 1fr);
    }
}
.campaigns {
    .view-activity-button{
        margin-top: 30px;
        width: 100%;
        background: #F9F9F9;
        border: 1px solid #E8E8EA;
        border-radius: 10px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-content {
        width: 330px;
        .box-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .status {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-weight: normal;
            font-size: 13px;
            line-height: 116%;
            border-radius: 10px;
            height: 40px;
            margin: 0 0 18px;
            &.orange {
            color: #ff7d1a;
            background: #fff1e6;
            border: 1px solid #ffb780;
            }
            &.grey {
            color: #615e69;
            background: #f9f9f9;
            border: 1px solid #f9f9f9;
            }
            &.green {
            color: #1bd2a4;
            background: #e9fdf8;
            border: 1px solid #4bedc5;
            }
            &.red {
            background: #feeaea;
            border: 1px solid #fa9494;
            color: #f53e3e;
            }
            &.blue {
            background: #e7f3ff;
            border: 1px solid #027dee;
            color: #027dee;
            }
            &.yellow {
            background: #fffcee;
            border: 1px solid #ffe887;
            color: #e6c84c;
            }
            .anticon {
            margin-right: 10px;
            }
        }
        .spend-hours {
            font-weight: 800;
            font-size: 34px;
            line-height: 117%;
        }
        .blue {
            color: #027dee;
        }
        .green {
            color: #1bd2a4;
        }
        .black {
            color: #1d1929;
        }
        .commission {
            font-weight: normal;
            font-size: 13px;
            line-height: 135%;
            color: #a5a3a9;
            margin: 10px 0 18px;
        }
        }
        h4 {
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: bold;
        font-size: 13px;
        line-height: 135%;
        color: #34303e;
        margin-bottom: 13px;
        .anticon {
            margin-right: 15px;
        }
        }
        .box-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 14px;
        .left {
            font-weight: bold;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.04em;
            color: #a5a3a9;
        }
        .right {
            font-weight: bold;
            font-size: 13px;
            line-height: 135%;
            color: #4a4754;
            width: 50%;
            text-align: right;
        }
        }
        h5 {
        margin-top: 18px;
        margin-bottom: 12px;
        }
        .message {
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #a5a3a9;
        }
        .more {
        font-weight: bold;
        font-size: 13px;
        line-height: 135%;
        color: #4a4754;
        .btnMore {
            border: 0;
            background: none;
            color: #027dee;
            font-weight: bold;
            font-size: 13px;
            line-height: 135%;
            cursor: pointer;
        }
        }
        .group-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 50%;
        margin-top: 18px;
        .btn-received {
            .anticon {
            margin-right: 10px;
            }
            &.accept {
            color: #ffffff;
            background: linear-gradient(
                254.81deg,
                #1a5aff 8.13%,
                #1ee9b6 92.46%
            );
            width: 48%;
            }
            &.reject {
            color: #ffffff;
            background: #f76969;
            width: 48%;
            }
        }
        }
        .btn-received {
        border-radius: 10px;
        height: 36px;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        .anticon {
            margin-right: 10px;
        }
        &.propose {
            color: #615e69;
            background: #f9f9f9;
            border: 1px solid #e8e8ea;
            width: 100%;
        }
        &.complete {
            color: #ffffff;
            background: linear-gradient(
            254.81deg,
            #1a5aff 8.13%,
            #1ee9b6 92.46%
            );
            width: 100%;
        }
        }
        .rating-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .rating-actions {
            margin-bottom: 10px;
        }
        .rating-result {
            color: #a5a3a9;
            font-weight: normal;
            font-size: 13px;
            line-height: 135%;
            strong {
            color: #34303e;
            }
        }
        .ant-rate-star-half .ant-rate-star-first,
        .ant-rate-star-full .ant-rate-star-second {
            span svg {
            fill: #ffde54;
            }
        }
        }
        .btn-submit {
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 10px;
        height: 36px;
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        color: #ffffff;
        width: 100%;
        border: 0;
        }
    }
}