.captive {
  .ant-layout-header {
    display: flex;
    align-items: center;
    background: #fff !important;
    padding: 0 30px;
    height: 84px;
    .media-breakpoint-down(sm; {padding: 0 15px;});

    .logo {
      .media-breakpoint-down(sm; {justify-content: center;});
    }
    .responsive-menu-button {
      display: none;
      .ant-badge-count {
        top: 5px;
      }
      .media-breakpoint-down(sm; {display: flex;});
    }

    .ant-avatar {
      background: @color-primary;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    .ant-menu-item {
      &:hover {
        border: none !important;
        svg > path {
          fill: @color-primary;
        }

        &:after {
          border: none !important;
        }
      }

      &.organization-item {
        user-select: none;
        color: #000;
        .title-subtitle {
          .title {
            margin-top: 5px !important;
          }
        }
        .anticon {
          color: #ccc;
        }
        &:hover {
          color: #000;
        }
      }
    }

    > a {
      .media-breakpoint-down(sm; {flex: 1;});
    }

    .ant-menu {
      .ant-menu-item {
        border: none !important;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        &:after {
          display: none;
        }
        &:hover {
          &:after {
            display: none;
          }
        }
        .ant-menu-title-content a {
          color: @color-grey-4;
          display: flex;
          align-items: center;
          padding-top: 4px;
          &:hover {
            color: @color-primary;
          }
        }
      }

      &.ant-mod-main-menu {
        flex: 1;
        padding: 20px 20px;
        .media-breakpoint-down(sm; {display: none;});
      }

      &.ant-menu-horizontal {
        border: none;
        line-height: 1;
        > .ant-menu-item .ant-menu-item-icon {
          font-size: 15px;
          opacity: 0.5;
        }
        > .ant-menu-item-selected {
          a {
            color: @color-primary;
          }
          .ant-menu-item-icon {
            opacity: 1;
          }
          > span > svg > path {
            fill: @color-primary;
          }
        }
      }

      &.ant-mod-action-menu {
        display: flex;
        margin: 0 20px;
        height: 100%;
        .media-breakpoint-down(sm; {display: none; margin: 0;});
        .ant-menu-item {
          height: 99%;
          padding: 0 10px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .user-menu {
      display: flex;
      line-height: 1.2;
      align-items: center;
      cursor: pointer;
      .user-info {
        padding: 0 10px;
        .username {
          font-weight: bold;
          color: @color-grey-4;
          text-transform: capitalize;
          letter-spacing: 0.02em;
        }

        .email {
          font-size: 12px;
          font-weight: 600;
          color: @color-grey-8;
          letter-spacing: 0.03em;
          line-height: 130%;
        }
      }
      .txtName {
        font-weight: bold;
        font-size: 14px;
        line-height: 112%;
        letter-spacing: 0.02em;
        width: 32px;
        border-radius: 50%;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.host {
          color: #0067C7;
          background: #A3D3FF;
        }
        &.admin {
          color: #FF6E01;
          background: #FFC599;
        }
        &.brand {
          color: #18BA92;
          background: #A5F6E2;
        }
      }
    }
    &.lite-menu {
      background: none !important;
      box-shadow: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      > a {
        flex: 1;
      }
      .ant-menu {
        background: none;

        &.ant-mod-action-menu {
          margin: 0;
          border-left: none;
          display: block !important;
          .ant-menu-item {
            border-right: none !important;
            padding: 0;
          }
        }

        .flag-select {
          button {
            background: #fff;
            border: none;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.menu-notification-popover {
  .ant-popover-inner-content {
    width: 320px;
    max-height: 70vh;
    overflow-y: scroll;
    padding: 0;
  }
}

.user-menu-popover {
  .ant-popover-inner-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .user-menu-item {
    padding: 5px 0;
    cursor: pointer;
    .anticon {
      margin-right: 10px;
      color: @color-grey-13;
    }

    a {
      color: rgba(0, 0, 0, 0.85);
    }

    a:hover, &:hover, a.selected {
      color: @color-primary;
      svg > path {
        stroke: @color-primary;
        fill: @color-grey-12;
      }
    }
  }
  .ant-divider-horizontal {
    margin: 10px 0 !important;
  }
}
