.myjobs-page, .payment, .job-order,
.table-sellers {
  width: 100%;
  &__top {
    background-color: @color-grey-12;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 35px;
    .flex-between();
    h1 {
      margin: 37px 0 43px;
      color: #1d1929;
      .fontStyle24();
    }
    &--right {
      border: 1px solid #e8e8ea;
      border-radius: 16px;
      padding: 10px 20px;
      flex-direction: row;
      .flex-between();
      &__left {
        flex-direction: column;
        .flex-between();
        align-items: flex-start;
        margin-right: 24px;
        h6 {
          .fontStyle12();
          color: #8e8c94;
        }
        .info {
          .fontStyle24();
          color: #4a4754;
          .flex-center();
          .anticon {
            margin-left: 10px;
            margin-right: 5px;
          }
          label {
            color: #0085ff;
            .fontStyle13();
            small {
              .fontStyle12();
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
  &__container {
    width: 100%;
    &--tabs {
      .ant-tabs-nav {
        background: #f9f9f9;
        padding: 0 35px;
        margin-bottom: 20px;
        .ant-tabs-tab {
          .ant-tabs-tab-btn {
            .fontSyle12wbold();
            color: #8e8c94;
            > div > span {
              background: #ff7d1a;
              border-radius: 6px;
              .fontSyle12wbold();
              color: #fff;
              margin-left: 6px;
              width: 18px;
              height: 18px;
              .flex-center();
              display: inline-flex;
            }
          }
        }
      }
      .ant-tabs-content-holder {
        padding: 0 35px;
      }
      .ant-table-wrapper {
        .ant-table-cell {
          .box-products-wrapper {
            .flex-between();
            width: 420px;
            .box-products {
              .flex-start();
              width: 380px;
              &__left {
                min-width: 52px;
                width: 52px;
                height: 52px;
                border-radius: 12px;
                figure {
                  width: 100%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                  }
                }
              }
              &__right {
                margin-left: 12px;
                p {
                  margin: 0;
                  &.first {
                    .fontStyle12();
                    color: #a5a3a9;
                  }
                  &.last {
                    .fontStyle15();
                    color: #34303e;
                  }
                }
              }
            }
            .last {
              .bid {
                width: 35px;
                height: 24px;
                border-radius: 10px;
                .flex-center();
                color: #ffffff;
                .fontStyle12();
                &.green {
                  background: #1bd2a4;
                }
                &.grey {
                  background: #bbbabf;
                }
              }
            }
          }
          .status {
            .fontStyle12();
            &.direct {
              color: #77757f;
            }
            &.negotiating {
              color: #ff7d1a;
            }
            &.bidSubmitted {
              color: #8e8c94;
            }
            &.waiting {
              color: #1bd2a4;
            }
            &.complete {
              color: #1d92ff;
            }
            &.reject {
              color: #f53e3e;
            }
          }
          .hourly {
            .fontStyle13();
            color: #34303e;
          }
          .date {
            .fontStyle12();
            color: #a5a3a9;
          }
        }
        .ant-table-thead {
          height: 34px;
          background: #f9f9f9;
          border-radius: 8px;
          > tr > th {
            border-bottom: 0;
          }
        }
        .ant-table-tbody > tr > td {
          border-top: 10px solid #fff;
          background: #f9f9f9;
          border-bottom: 0;
        }
        .ant-table-tbody {
          .ant-table-cell {
            .ant-space-item {
              .box-default {
                position: relative;
                &__popup {
                  position: absolute;
                  right: 0;
                  top: 20px;
                  content: "";
                  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.08),
                    0px 12px 16px rgba(0, 0, 0, 0.08);
                  border-radius: 12px;
                  padding: 16px 20px 20px;
                  z-index: 2;
                  background: #fff;
                  .ant-menu-vertical {
                    border: 0;
                    .anticon {
                      margin-right: 12px;
                    }
                  }
                }
              }
              .box-tooltip {
                position: relative;
                &:hover {
                  .box-tooltip__content {
                    display: block;
                    position: absolute;
                    bottom: 30px;
                    right: 0;
                    margin-right: -400%;
                    content: "";
                    z-index: 3;
                    background: #34303e;
                    border-radius: 10px;
                    padding: 8px 16px;
                    width: 189px;
                    text-align: center;
                    color: #fff;
                    .fontStyle12();
                    &::after {
                      width: 0;
                      height: 0;
                      border-left: 14px solid transparent;
                      border-right: 14px solid transparent;
                      border-top: 14px solid #f00;
                    }
                    &--verified {
                      margin-right: -250%;
                    }
                  }
                }
                &__content {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.fontStyle24 {
  font-weight: 800;
  font-size: 24px;
  line-height: 132%;
  letter-spacing: 0.01em;
}
.fontStyle13 {
  font-weight: bold;
  font-size: 13px;
  line-height: 135%;
}
.fontStyle15 {
  font-weight: bold;
  font-size: 15px;
  line-height: 147%;
}
.fontStyle12 {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
.fontSyle12wbold {
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
}
