.ant-table {
  .ant-table-thead {
    tr {
      th {
        border-bottom: none;
        padding-top: 7px;
        padding-bottom: 7px;
        background: @color-grey-12;
        font-size: 13px;
        color: @color-grey-6;
        &:before {
          display: none;
        }
        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          padding-left: 16px;
          padding-right: 16px;
        }
        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}

.ant-pagination {
  display: flex;
  padding: 16px 0;
  border-top: 1px solid @color-grey-11;
  .ant-pagination-total-text {
    font-size: 13px;
    font-weight: 600;
    color: @color-grey-8;
    flex: 1;
  }
  .ant-pagination-options {
    flex: 1;
    text-align: right;
  }
  .ant-select-sm {
    .ant-select-selector {
      height: 28px;
      padding: 2px 7px;
      font-size: 13px;
    }
  }
}
