.pannel-table {
  padding: 0 35px;
  .drawer-submit-proposal__result {
    margin-top: 20px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08),
      0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    border: 0;
  }
  .drawer-submit-proposal__result__title {
    padding: 0;
    p {
      margin: 0;
      &:first-child {
        line-height: 150%;
        letter-spacing: 0.03em;
      }
      &:last-child {
        line-height: 135%;
      }
    }
  }
  .drawer-submit-proposal__result__duration {
    padding: 0;
    p {
      margin: 18px 0;
      letter-spacing: 0.02em;
      font-weight: bold;
      &.grey {
        color: #8e8c94;
        font-weight: bold;
        letter-spacing: 0.02em;
      }
    }
  }
  .drawer-submit-proposal__result__deal {
    p {
      margin-bottom: 10px;
    }
  }
  .drawer-submit-proposal__result__table {
    span {
      vertical-align: sub;
    }
  }
  .ant-progress-inner {
    border-color: #62f0cc;
    background-color: #62f0cc;
    border: 1px solid #62f0cc;
    height: 6px;
    .ant-progress-bg {
      background: #fff;
    }
  }
  .progress-grey {
    .ant-progress-inner {
      background-image: url("./media/progress-grey.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: cover;
      background-color: #e8e8ea;
      height: 6px;
      width: 100%;
      border-color: #e8e8ea;
    }
  }
  .progress-green {
    .ant-progress-inner {
      background-image: url("./media/progress-green.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: cover;
      background-color: #62f0cc;
      height: 6px;
      width: 100%;
      border-color: #62f0cc;
    }
  }
}
.wrapper-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    height: 36px;
    border: 1px solid #e8e8ea;
    border-radius: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 135%;
    color: #4a4754;
    margin-right: 12px;
    background-color: transparent;
    &.selected {
      color: #0085ff;
      font-weight: bold;
      background: #f9f9f9;
    }
    &.reject {
      color: #f53e3e;
    }
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
