.payment {
    &__title {
        border-bottom: 1px solid #E8E8EA;
    }
    &__table-container {
        padding: 0px 35px;
    }
    &__list-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__tags {
            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                display: flex;
            }
        }
        &__tag {
            margin-right: 20px;
            border: 1px solid #E8E8EA;
            border-radius: 10px;
            a {
                display: inline-block;
                color: #4A4754;
                padding: 6px 15px;
            }
            &--selected {
                background: #F9F9F9;
                a {
                    color: #0085FF;
                }
            }
        }
        &__filter {
            .ant-select-selector {
                height: 42px !important;
                border: 1px solid #E8E8EA !important;
                border-radius: 10px !important;
            }
            .ant-select-selection-item {
                display: flex;
                align-items: center;
            }
        }
    }
    &__table-filter {
        margin-bottom: 30px
    }
    &__table {
        &__action{
            display: flex;
            align-items: center;
            span {
                margin-right: 20px;
            }
            &--verify {
                display: inline-block;
                background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
                border-radius: 6px;
                color: #FFF;
                padding: 2px 10px;
            }
        }
    }
}

.payment-detail {
    &__order {
        margin-top: 30px;
        &__header {
            align-items: center;
            display: flex;
            &__info {
                margin-left: 15px;
                p {
                    margin: 0;
                    &:first-child {
                        font-weight: 700;
                    }
                }
            }
        }
        &__detail {
            padding: 15px 0;
            border-top: 1px solid #E8E8EA;
            &__total {
                border-top: 1px solid #E8E8EA;
                padding: 15px 0;
                align-items: center;
                display: flex;
                justify-content: space-between;
                span {
                    &:last-child {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
            &__job {
                display: flex;
                margin-bottom: 15px;
                &__image {
                    border-radius: 12px;
                    width: 52px;
                    height: 52px;
                    overflow: hidden;
                    margin-right: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &__info {
                    p {
                        margin: 0;
                        :first-child {
                            font-weight: 700;
                        }
                        span {
                            font-weight: 700;
                        }
                    }
                }
                
            }
        }
    }
    &__container {
        padding: 30px;
    }
    &__info {
        text-align: center;
        p {
            margin: 8px 0;
        }
        &__title {
            margin-top: 15px;
            font-weight: 700;
        }
        &__amount {
            font-size: 24px;
            font-weight: 700;
        }
    }
    &__card {
        margin-top: 30px;
        background-color: #FFF;
        padding: 15px;
        border-radius: 12px;
        border: 1px solid #E8E8EA;
        &__status {
            padding: 10px 0;
            position: relative;
            &__tag {
                position: absolute;
                left: 50%;
                transform: rotate(-15deg) translateX(-50%);
                top: -5px;
                font-weight: bold;
                font-size: 13px;
                padding: 5px 12px;
                border-radius: 4px;
            }
        }
        &__info {
            border-top: 2px dashed #E8E8EA;
            padding: 10px 0;
        }
        &__action {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            border-top: 1px solid #E8E8EA;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48%;
                padding: 8px;
                border-radius: 10px;
                color: #FFF;
                span {
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                }
                &:first-child {
                    background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
                }
                &:last-child {
                    background: #F76969;
                }
            }
        }
        &__proof {
            border-top: 1px solid #E8E8EA;
            padding: 15px 0;
            &--nofile {
                text-align: center;
                color: #F65354;
            }
            &__action {
                background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
                border-radius: 10px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0;
                >span {
                    margin-right: 10px;
                }
            }
            &__title {
                font-weight: 700;
            }
            &__file {
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                }
                &__preview {
                    width: 40px;
                }
                &__info {
                    flex: 1;
                    font-size: 13px;
                    p {
                        margin: 0;
                        &:first-child {
                            color: #55ADFF;
                        }
                        &:last-child {
                            color: #A5A3A9;
                        }
                    }
                }
                &__action {
                    a {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    table {
        width: 100%;
        margin: 0;
        border-spacing: 10px 0;
        tr {
            td {
                padding: 5px 0;
                &:first-child {
                    color: #77757f;
                }
                &:last-child {
                    text-align: right;
                    font-weight: 700;
                }
            }
        }
    }
}

.payment-drawer{
    .ant-drawer-body {
        background-color: #f9f9f9;
    }
}
    