.products-page {
  width: 100%;
  .products-page__header {
    height: 76px;
    background-color: @color-grey-12;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    h2 {
      padding: 19px 0px 25px 0px;
      font-weight: 800;
      font-size: 24px;
      color: #1d1929;
      margin-bottom: 0px;
    }
    div {
      display: flex;
      align-items: flex-end;
      .anticon.anticon-search {
        font-size: 15px;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #f0f0f1;
        margin-right: 12px;
      }
      .ant-btn {
        background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
        border-radius: 10px;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        height: 36px;
      }
      .search-input {
        background: #ffffff;
        border: 1px solid #e8e8ea;
        border-radius: 10px;
        margin-right: 15px;
        overflow: hidden;
        .ant-btn {
          background: #ffffff;
          border: none;
          span {
            border: none;
          }
        }
        input {
          border: none;
          outline: none;
          font-size: 14px;
          height: 36px;
        }
      }
    }
  }
  .ant-tabs-nav {
    background-color: @color-grey-12;
    .ant-tabs-tab {
      font-weight: bold;
      font-size: 12px;
      color: #8e8c94;
      padding: 0 13px 16px 13px;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 24px;
    }
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0px;
    padding-left: 35px;
  }
  .products-page__all-product {
    padding: 20px 30px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .products-page__all-product__item {
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08),
        0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      background-color: #ffffff;
      padding: 20px;
      &:hover {
        cursor: pointer;
      }
      .products-page__all-product__item__header {
        color: #8e8c94;
        font-weight: 600;
        font-size: 12px;
        text-align: right;
        .anticon.icon-pencil {
          margin-right: 6px;
        }
      }
      .products-page__all-product__item__content {
        display: flex;
        margin-top: 24px;
        .products-page__all-product__item__content__icon {
          height: 80px;
          min-width: 80px;
          padding: 20px;
          border-radius: 24px;
          margin-right: 18px;
        }
        div:last-child {
          h4 {
            font-size: 16px;
            color: #1d1929;
            font-weight: bold;
            line-height: 150%;
            text-align: left;
          }
          p {
            color: #a5a3a9;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
      .products-page__all-product__item__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        div:first-child {
          span:first-child {
            margin-right: 8px;
            padding: 4px 8px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 12px;
            color: #ffffff;
          }
          span.campaign-unactive:first-child {
            color: #8e8c94;
          }
          .bid-unactive {
            background: #bbbabf;
          }
          .bid-active {
            background: #1bd2a4;
          }
          .campaign-unactive {
            /* Gray/12 */
            background: #f9f9f9;
            /* Gray/9 */

            border: 1px solid #bbbabf;
          }
          .campaign-complete {
            background: #bbbabf;
          }
          .campaign-active {
            background: #1bd2a4;
          }
          span:last-child {
            font-weight: 600;
            font-size: 12px;
            color: #1bd2a4;
          }
        }
        div:last-child {
          span:first-child {
            position: relative;
            margin-right: 7px;
            .anticon {
              color: #8e8c94;
              font-size: 14px;
              margin: -5px;
            }
            .icon-user-active {
              position: absolute;
              width: 6px;
              height: 6px;
              right: -2.5px;
              top: 0.5px;
              background: #f42829;
              border: 1px solid #ffffff;
              border-radius: 100px;
            }
          }
          span:last-child {
            font-weight: 600;
            font-size: 12px;
            color: #8e8c94;
          }
        }
      }
    }
  }
}
