.recommender-seller {
  &-page {
    width: 100%;
  }
  &-top,
  &-container {
    width: 100%;
    display: flex;
    padding: 0 3px;
  }
  &-top {
    height: 112px;
    background-color: @color-grey-12;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 800;
      font-size: 24px;
      line-height: 132%;
      color: @color-grey-15;
      letter-spacing: 0.01em;
      margin-bottom: 8px;
    }
    h6 {
      font-weight: normal;
      font-size: 15px;
      line-height: 147%;
      color: @color-grey-6;
    }
    .auth-form .anticon.absolute.left {
      margin-top: 48px;
      margin-left: 30px;
    }
  }
  &-container {
    background-color: @color-grey-14;
    &_content {
      padding: 0 175px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;
      gap: 26px;
      margin-top: 20px;
      position: relative;
      @media screen and (min-width: 1025px) {
        padding: 0;
        gap: 26px;
        justify-content: center;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0;
        gap: 10px;
        justify-content: center;
      }
      .recommender-card-border {
        flex: 0 0 30%;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08),
          0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        margin-bottom: 26px;
        .ant-card-cover {
          padding: 10px;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: space-around;
          align-content: space-between;
          flex-wrap: nowrap;
          gap: 5px;
          position: relative;
          .picture-cover {
            height: 120px;
            width: 40%;
            &_end {
              width: 20%;
            }
            &__img {
              width: 100%;
              object-fit: cover;
              height: 120px;
              border-radius: 6px;
            }
            &__half {
              height: 120px;
              width: 50%;
            }
            &__full,
            &__default {
              height: 120px;
              width: 100%;
            }
          }
          .rating {
            position: absolute;
            margin-left: 18px;
            margin-top: 18px;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 100px;
            font-weight: bold;
            font-size: 15px;
            line-height: 147%;
            color: #34303e;
            top: 0;
            left: 0;
            width: 54px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px 6px 1px 4px;
            .anticon {
              margin-right: 5px;
            }
          }
          .seller-check {
            position: absolute;
            margin-top: 18px;
            top: 0;
            right: auto;
            content: "";
            left: 0;
            display: block;
            width: 20px;
            margin-left: calc(100% - 38px);
          }
        }
        .ant-card-body {
          padding: 0;
          .ant-card-meta {
            text-align: center;
            padding: 0 10px;
            &-avatar {
              float: none;
              width: 72px;
              height: 72px;
              margin: 0 auto;
              border-radius: 50%;
              background: #fff;
              margin-top: -20px;
              z-index: 2;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              align-content: center;
              flex-wrap: nowrap;
              flex-direction: row;
              padding: 0;
              margin-bottom: 12px;
              z-index: 1;
              .anticon {
                height: auto;
                object-fit: cover;
                width: 100%;
                line-height: 70px;
                border-radius: 50%;
              }
              img {
                height: 100%;
                object-fit: cover;
                width: 100%;
                line-height: 70px;
                border: 2px solid #fff;
                border-radius: 50%;
              }
            }
            &-title {
              font-weight: bold;
              font-size: 18px;
              line-height: 135%;
              letter-spacing: 0.01em;
              color: @color-grey-15;
              margin-bottom: 4px;
            }
            &-description {
              padding: 0 20px;
              p {
                font-weight: normal;
                font-size: 13px;
                line-height: 135%;
                color: @color-grey-8;
              }
              .list-tags {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 14px;
                margin-bottom: 18px;
                width: 100%;
                &__item {
                  list-style: none;
                  border-radius: 10px;
                  background-color: @color-grey-11;
                  text-align: left;
                  color: @color-grey-4;
                  font-weight: 600;
                  font-size: 11px;
                  line-height: 130%;
                  letter-spacing: 0.01em;
                  padding: 4px 8px;
                  margin-right: 5px;
                  object-fit: cover;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 120px;
                  display: block;
                  .anticon {
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: bottom;
                  }
                  &--num {
                    border: 1px solid @color-grey-11;
                    border-radius: 50%;
                    width: 24px;
                    height: 22px;
                    background: @color-grey-14;
                  }
                }
              }
              .list-info {
                padding: 0;
                display: flex;
                justify-content: space-around;
                margin-top: 18px;
                &__item {
                  list-style: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-direction: column;
                  &--title {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 130%;
                    letter-spacing: 0.03em;
                    color: @color-grey-8;
                  }
                  &--content {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.03em;
                    color: @color-grey-18;
                  }
                }
              }
            }
          }
        }
      }
      .recommender-card-last {
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          box-shadow: 0px 2px 12px rgb(0 0 0 / 8%), 0px 2px 4px rgb(0 0 0 / 8%);
          background-image: url("./media/popup.png");
          background-color: rgba(255, 255, 255, 0.9);
          height: 370px;
          background-size: cover;
          z-index: 2;
          border-radius: 12px;
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          &-box {
            position: relative;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            h5 {
              font-weight: bold;
              font-size: 18px;
              line-height: 135%;
              color: @color-grey-15;
              letter-spacing: 0.01em;
            }
            .profiles {
              font-weight: normal;
              font-size: 15px;
              line-height: 147%;
              color: @color-grey-6;
              margin-top: 4px;
              margin-bottom: 20px;
            }
            .search {
              background: linear-gradient(
                254.81deg,
                #1a5aff 8.13%,
                #1ee9b6 92.46%
              );
              border-radius: 10px;
              color: @color-grey-14;
              letter-spacing: 0.02em;
              font-weight: bold;
              font-size: 14px;
              line-height: 112%;
              width: 99px;
              height: 36px;
              padding: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
    &_popup {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.08),
        0px 6px 8px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      z-index: 2;
      background: @color-grey-14;
      .lbl-selected {
        color: @color-grey-8;
        font-size: 15px;
        line-height: 147%;
        span {
          color: @color-grey-15;
          font-weight: bold;
        }
      }
      .group-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .unselect {
          border: 1px soild @color-grey-11;
          border-radius: 10px;
          font-weight: bold;
          font-size: 14px;
          line-height: 112%;
          color: @color-grey-16;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          background: #fff;
          margin-right: 10px;
        }
        .send-offer {
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
          border-radius: 10px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: @color-grey-14;
        }
      }
    }
  }
}
