.select-role {
    text-align: center;
    &__footer {
        color: #FFF;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
    }
    &__header {
        margin-bottom: 50px;
        &__title {
            font-size: 28px;
            font-weight: 800;
            width: 400px;
            color: #FFFFFF;
            margin: 15px auto;
        }
    }
    &__content {
        &__role {
            background-color: #FFFFFF;
            border-radius: 40px;
            padding: 30px 50px;
            &__title {
                font-size: 24px;
                margin: 15px 0;
                color: #000;
                font-weight: 800;
            }
            &__description {
                font-size: 15px;
                color: #77757F;
            }
        }
    }
}