@import "./antd.css";
@import "./config.less";
@import "./mixins/responsive.less";

@import "./logo.less";
@import "./menu.less";
@import "./components.less";
// pages
@import "./auth.less";
@import "./host-list.less";
@import "./products.less";
@import "./create-product.less";
@import "./market-place.less";
@import "./detail-product.less";
@import "./flow-signup.less";
@import "./host-profile.less";
@import "./recommender-seller.less";
@import "./flow-signup.less";
@import "./role.less";
@import "./drawer.less";
@import "./company-profile.less";
@import "./my-jobs.less";
@import "./pagination.less";
@import "./collapse-main.less";
@import "./campaign.less";
@import "./campaign-content-tab.less";
@import "./table-sellers.less";
@import "./pannel-table.less";
@import "./payment.less";
@import "./job-order.less";

body {
  font-family: "Nunito Sans", sans-serif;
  overflow: auto !important;
  width: 100% !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.captive {
  min-height: 100vh;
  &.with-bg {
    background: url("./media/bg.jpg");
    background-size: cover;
  }

  .ant-layout {
    background: #fff;
    .media-breakpoint-up(md; {min-height: 100vh;display: flex; flex-direction: column;});

    .ant-layout-content {
      box-sizing: border-box;
      width: 100%;
      flex: 1;
      .media-breakpoint-down(sm; {padding: 15px;});
      .media-breakpoint-up(md; {display: flex; align-items: center; justify-content: center;});
    }

    .ant-layout-content.align-top {
      align-items: flex-start;
    }
  }

  &.split {
    .ant-layout {
      min-height: 100vh;
      background: none;
      .ant-layout-content {
        .primary-section {
          min-height: 100vh;
          width: 50%;
          background: #f9f9f9;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 2;
          position: relative;
          @width: 450px;
          &.w80 {
            width: @width80;
          }
          &.w50 {
            width: @width50;
          }
          .header {
            width: @width;
            padding: 20px 0;
            &.w700 {
              width: @width700;
              @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 450px;
              }
            }
          }
          .content {
            width: @width;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &.w700 {
              width: @width700;
              @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 450px;
              }
            }
            &.jc-fs {
              justify-content: flex-start;
            }
          }
          .footer {
            width: @width;
            padding: 20px 0;
            font-size: 13px;
            color: @color-grey-6;
            &.footer-signup {
              width: @width700;
              text-align: center;
            }
          }
        }
        .secondary-section,
        .secondary-section-host {
          min-height: 100vh;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;
          &.full {
            width: 100%;
          }
          &.w20 {
            width: 20%;
            z-index: 2;
          }

          .content {
            flex: 1;
          }

          &::before {
            content: "";
            background: url("./media/toroid.png");
            background-size: cover;
            width: 237px;
            height: 237px;
            position: absolute;
            display: block;
            top: 50px;
            left: -110px;
          }
          &::after {
            content: "";
            background: url("./media/cube.png");
            background-size: 200% auto;
            width: 237px;
            height: 237px;
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
          }
        }
        .secondary-section-host {
          background: linear-gradient(254.81deg, #1a5aff 8.13%, #1ee9b6 92.46%);
          height: 100%;
          min-height: 100vh;
        }
      }
    }
  }

  // ANT-CARD

  .ant-card {
    &.card-box {
      border: none;
      border-radius: @box-radius;
      position: relative;

      .ant-page-header {
        padding: 5px 10px;
        .ant-page-header-heading-title {
          font-size: 15px;
          color: #666;
          font-weight: normal;
        }
      }

      .ant-skeleton {
        padding: 20px;
      }

      .ant-card-body {
        padding: 0;
        border-radius: 10px;
      }
    }
  }

  .card-box + .card-box,
  .ant-row + .card-box {
    margin-top: 20px;
  }

  .ant-radio-button-checked {
    color: @color-primary;
    border-color: @color-primary;
    .ant-radio-button-wrapper-checked {
      color: @color-primary !important;
    }
  }

  .ant-menu-horizontal > .ant-menu-item-selected a {
    color: @color-primary;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: @color-primary;
    background: #fff;
    border-color: @color-primary !important;
  }

  .ant-btn {
    box-shadow: none;
    font-weight: bold;

    &.ant-btn-primary {
      &:hover {
        color: #fff;
      }
    }
  }
}

.hide-on-sm {
  .media-breakpoint-down(sm; {display: none});
}

.desktop-only {
  .media-breakpoint-up(md; {display: auto;}) !important;
  .media-breakpoint-down(sm; {display: none}) !important;
}

.mobile-only {
  .media-breakpoint-up(md; {display: none}) !important;
  .media-breakpoint-down(sm; {display: auto}) !important;
}

.scrollbar {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #efefef;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d2d1d4;
    border-radius: 6px;
  }
}

.ant-form-item-has-error {
  .react-tel-input,
  .ant-select,
  .ant-picker {
    border: 1px solid #ff4d4f !important;
    border-radius: 12px;
  }
  select[name="my-country-field"] {
    border-color: #ff4d4f !important;
  }
}

.ant-scrolling-effect {
  overflow: hidden !important;
}

.no-click {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

#all-icons {
  .clicked {
    span {
      background-color: black;
    }
  }
}

.page-header {
  padding: 19px 35px;
  background: @color-grey-12;
  display: flex;
  align-items: center;
  h2 {
    flex: 1;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 132%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'liga' off;

    /* Gray/2 */

    color: #1D1929;
  }

  .ant-btn {
    border-radius: 10px;
  }
}
.text-red {
  color: #F53E3E;
}
.modal-feedback {
  .ant-modal-content {
    background: #ffffff;
    border-radius: 24px;
    text-align: center;
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 132%;
      color: #34303e;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 147%;
      color: #4a4754;
    }
    .ant-btn {
      padding: 16px 76px;
      font-weight: bold;
      font-size: 14px;
      line-height: 112%;
      border-radius: 12px;
      height: initial;
    }
    .btn-approve {
      background: linear-gradient(254.81deg, #1A5AFF 8.13%, #1EE9B6 92.46%);
    }
    .text-reject {
      background: #FFFFFF;
      border: 1px solid #E8E8EA;
      box-sizing: border-box;
      border-radius: 12px;
      width: 92%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
.view-order-text {
  color: #1B79E7;
  font-weight: bold;
  cursor: pointer;
}
.order-ordering-status {
  color: #1D92FF;
}
.order-ended-status {
  color: #FF9A4D;
}
.cursor-pointer {
  cursor: pointer;
}
.drawer-submit-fixed-rate {
  h4 {
    font-weight: 800;
    font-size: 24px;
    line-height: 132%;
    color: #1D1929;
  }
}
.payment-detail__info {
  h4 {
    color: #34303E;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 132%;
    margin-bottom: 30px;
  }
}
.inline-flex {
  display: inline-flex;
}
.justify-center {
  justify-content: center;
}
.blue-text {
  color: #1B79E7;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}