.table-sellers {
  .ant-table-wrapper {
    margin-top: 26px;
    .ant-table-cell {
      .box-products-wrapper {
        // .flex-between();
        // width: 420px;
        .box-products {
          .flex-start();
          // width: 380px;
          &__left {
            min-width: 32px;
            width: 32px;
            height: 32px;
            border-radius: 8px;
            figure {
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
              }
            }
          }
          &__right {
            margin-left: 12px;
            p {
              margin: 0;
              &.first {
                .fontStyle12();
                color: #a5a3a9;
              }
              &.last {
                .fontStyle15();
                color: #34303e;
              }
            }
          }
        }
        .last {
          .bid {
            width: 35px;
            height: 24px;
            border-radius: 10px;
            .flex-center();
            color: #ffffff;
            .fontStyle12();
            &.green {
              background: #1bd2a4;
            }
            &.grey {
              background: #bbbabf;
            }
          }
        }
      }
      .status {
        .fontStyle12();
        &.direct {
          color: #77757f;
        }
        &.negotiating {
          color: #ff7d1a;
        }
        &.bidSubmitted {
          color: #8e8c94;
        }
        &.waiting {
          color: #1bd2a4;
        }
        &.complete {
          color: #1d92ff;
        }
        &.reject {
          color: #f53e3e;
        }
      }
      .hourly,
      .followers {
        .fontStyle13();
        color: #34303e;
      }
      .date,
      .age,
      .experience,
      .commission,
      .modified,
      .stream {
        .fontStyle12();
        color: #a5a3a9;
      }
    }
    .ant-table-thead {
      height: 34px;
      background: #f9f9f9;
      border-radius: 8px;
      > tr > th {
        border-bottom: 0;
      }
    }
    .ant-table-tbody > tr > td {
      border-top: 10px solid #fff;
      background: #f9f9f9;
      border-bottom: 0;
    }
    .ant-table-tbody {
      .ant-table-cell {
        .ant-space-item {
          .box-default {
            position: relative;
            &__popup {
              position: absolute;
              right: 0;
              top: 20px;
              content: "";
              box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.08),
                0px 12px 16px rgba(0, 0, 0, 0.08);
              border-radius: 12px;
              padding: 16px 20px 20px;
              z-index: 2;
              background: #fff;
              .ant-menu-vertical {
                border: 0;
                .anticon {
                  margin-right: 12px;
                }
              }
            }
          }
          .box-tooltip {
            position: relative;
            &:hover {
              .box-tooltip__content {
                display: block;
                position: absolute;
                bottom: 30px;
                right: 0;
                margin-right: -400%;
                content: "";
                z-index: 3;
                background: #34303e;
                border-radius: 10px;
                padding: 8px 16px;
                width: 189px;
                text-align: center;
                color: #fff;
                .fontStyle12();
                &::after {
                  width: 0;
                  height: 0;
                  border-left: 14px solid transparent;
                  border-right: 14px solid transparent;
                  border-top: 14px solid #f00;
                }
                &--verified {
                  margin-right: -250%;
                }
              }
            }
            &__content {
              display: none;
            }
          }
        }
      }
    }
  }
}
.popup-row-actions {
  .ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .anticon {
      margin-right: 5px;
    }
  }
}
